<%= render "debits/tasks/nav_tabs" %>

<div class="tab-content">
  <br />
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th><%= t("activerecord.attributes.debit.month") %></th>
        <th><%= t("activerecord.attributes.task.status") %></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.due_date %></td>
            <td><%= task.status_label %></td>
            <td><%= link_to t("views.buttons.show"), debit_task_path(task.id), class: "btn btn-default" %></td>
            <td><%= link_to t("views.buttons.edit"), edit_debit_task_path(task.id), class: "btn btn-default" %></td>
            <td><%= render "debits/tasks/delete_button", object: task.model %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
