<%= form_for(@age_group) do |f| %>
  <% if @age_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@age_group.errors.count, "error") %> prohibited this age_group from being saved:</h2>

      <ul>
      <% @age_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
