<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @access_log.user_id %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @access_log.ip %>
</p>

<p>
  <strong>Remote ip:</strong>
  <%= @access_log.remote_ip %>
</p>

<p>
  <strong>Request method:</strong>
  <%= @access_log.request_method %>
</p>

<p>
  <strong>Fullpath:</strong>
  <%= @access_log.fullpath %>
</p>

<%= link_to 'Edit', edit_access_log_path(@access_log) %> |
<%= link_to 'Back', access_logs_path %>
