<% breadcrumb :comments, @post %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>
      <%= @post.title %> <small><%= @post.user.name %></small>
      <div class="pull-right"><small><%= @post.open_date.strftime('%Y年%m月%d日') %></small></div>
    </h3>
    <div class="panel panel-default">
      <div class="panel-body">
    <%= simple_format(@post.content) %>
      </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% @comments.each.with_index(1) do |comment, i| %>
      <% if comment.persisted? %>
        <h6><div class="pull-right"><a name="<%= "comment#{i}" %>"><small><%= i %></small></a></div></h6>
        <dl>
          <dd>
            <p><%= simple_format(comment.content) %></p>
          </dd>
          <dt>
            <h6>
              <%= comment.user.try(:name) || "-" %> <small><%= comment.created_at.strftime("%m月%d日 %H:%M") %></small>
            </h6>
          </dt>
        </dl>
        <hr />
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for [@post, @comment], html: { role: "form", class: "form-horizontal col-md-12", id: "form" } do |f| %>
      <%= render "shared/errors", object: @comment %>
      <%= f.hidden_field :post_id %>
      <%= f.hidden_field :user_id %>
      <div class="form-group <%= 'has-error' if @comment.errors[:content].present? %>">
        <%= f.text_area :content, class: "form-control", rows: 8, placeholder: "コメント" %>
      </div>
      <%= button_to_back root_path, pull: "left" %>
      <%= button_to_save pull: "right" %>
    <% end %>
  </div>
</div>
