<% courses.to_a.uniq {|studio| studio['studio_id'] }.each.with_index(1) do |studio, i| %>
  <div class="tab-pane <%= 'active' if i == 1 %>" id="<%= studio['school_id'] + studio['studio_id'] %>">
    <div class="table-responsive">
      <table class="table table-bordered">
        <caption class="text-center"><%= date.strftime("%Y年%m月") %></caption>
        <thead>
          <th style="width: 9%;"></th>
          <% [1, 2, 3, 4, 5, 6, 0,].each do |wday| %>
            <th style="width: 13%;"><%= t("date.abbr_day_names")[wday] %></th>
          <% end %>
        </thead>
        <tbody>
          <% courses.select {|course| course['school_id'] == studio['school_id'] }.select {|course| course['studio_id'] == studio['studio_id'] }.each do |course| %>
            <% if course['weekday'] == '1' %>
              <tr>
            <% end %>
            <% if course['weekday'] == '1' %>
                <th><%= course['start_time'] %></th>  
            <% end %>
            <td class="course">
              <% if course['course_id'].present? %>
                <%= link_to new_member_members_course_path(member.id, course_id: course['course_id']) do %>
                  <h6 style="margin-top: 5px; margin-bottom: 5px;">
                    <%= course['dance_style_name'] %>
                    <br />
                    <%= course['level_name'] %>
                    <br />
                    <small><%= course['instructor_name'] %></small>
                  </h6>
                <% end %>
              <% end %>
            </td>
            <% if course['weekday'] == '7' %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <ul class="pager">
      <% if Date.today < date %>
        <li class="previous">
          <%= link_to fa_icon('caret-left', text: Date.today.strftime("%Y年%m月")), timetables_path(date: Date.today.strftime("%Y%m%d")), remote: true %>
        </li>
      <% else %>
        <li class="next">
          <%= link_to fa_icon('caret-right', text: Date.today.next_month.strftime("%Y年%m月"), right: true), timetables_path(date: Date.today.next_month.strftime("%Y%m%d")), remote: true %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
$(".course").hover(
    function() {
        $(this).toggleClass("warning");
    },
    function() {
        $(this).toggleClass("warning");
    }
);
</script>
