<div id="courses" class="modal fade">
  <div class="modal-dialog" style="width: 1000px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">クラス選択</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills">
          <% @schools.each.with_index(1) do |school, i| %>
            <li class="<%= 'active' if i == 1 %>">
              <a href="#<%= school.id %>" data-toggle="tab"><%= school.name %></a>
            </li>
          <% end %>
        </ul>
        <div class="tab-content">
          <% @schools.each.with_index(1) do |school, i| %>
            <div class="tab-pane <%= 'active' if i == 1 %>" id="<%= school.id %>">
              <% school.studios.each do |studio| %>
                <h4><%= studio.name %></h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <th style="width: 9%;"></th>
                      <% 1.step(7) do |cwday| %>
                        <th style="width: 13%;"><%= weekday_ja(cwday) %></th>
                      <% end %>
                    </thead>
                    <tbody>
                      <% studio.timetables.each do |timetable| %>
                        <% if timetable.weekday == 1 %>
                          <tr>
                            <th><%= timetable.time_slot.start_time.strftime("%H:%M") %></th>
                        <% end %>
                        <td>
                          <% course = @courses.find {|course| course.timetable_id == timetable.id } %>
                          <% if course.present? %>
                            <%= link_to new_member_course_path(@member, course_id: course.id) do %>
                              <%= course.dance_style.name %><br />
                              <%= course.level.name %><br />
                              <%= course.instructor.name %><br />
                            <% end %>
                          <% end %>
                        </td>
                        <% if timetable.weekday == 7 %>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <%= button_tag t("views.buttons.close"), class: "btn btn-default", data: { dismiss: "modal" } %>
      </div>
    </div>
  </div>
</div>
