<%
    url = nil
    if @members_course.new_record?
      url = member_courses_path(@member)
    else
      url = member_course_path(@member, @members_course)
    end
%>
<%# form_for([@member, @members_course], url: member_course_path(@member, @members_course), html: { role: "form", class: "form-horizontal", id: "form" }) do |f| %>
<%= form_for([@member, @members_course], url: url, html: { role: "form", class: "form-horizontal", id: "form" }) do |f| %>

  <%= render "shared/errors", object: @members_course %>

  <% if params[:action] == "show" %>
    <fieldset disabled>
  <% end %>

  <% course = Course.find(@members_course.course_id) if @members_course.course_id.present? %>
  <% timetable = course.timetable if course.present? %>
  <% studio = timetable.studio if timetable.present? %>
  <% school = studio.school if studio.present? %>

  <div class="form-group <%= 'has-error' if @members_course.errors[:course_id].present? %>">
    <%= label_tag nil, t("activerecord.models.school"), class: "col-md-1 control-label" %>
    <div class="col-md-3">
      <%= text_field_tag nil, school.try(:name), class: "form-control", disabled: "disabled" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @members_course.errors[:course_id].present? %>">
    <%= label_tag nil, t("activerecord.models.studio"), class: "col-md-1 control-label" %>
    <div class="col-md-3">
      <%= text_field_tag nil, studio.try(:name), class: "form-control", disabled: "disabled" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @members_course.errors[:course_id].present? %>">
    <label class="col-md-1 control-label"><%= t("activerecord.attributes.timetable.weekday") %></label>
    <div class="col-md-2">
      <%= text_field_tag nil, weekday_ja(timetable.try(:weekday)), class: "form-control", disabled: "disabled" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @members_course.errors[:course_id].present? %>">
    <label class="col-md-1 control-label"><%= t("activerecord.models.time_slot") %></label>
    <div class="col-md-2">
      <%= text_field_tag nil, timetable.try(:time_slot).try(:start_time), class: "form-control", disabled: "disabled" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @members_course.errors[:course_id].present? %>">
    <label class="col-md-1 control-label"><%= t("activerecord.models.course") %></label>
    <div class="col-md-3">
      <%= text_field_tag nil, course.try(:dance_style).try(:name), class: "form-control", disabled: "disabled" %>
    </div>
    <div class="col-md-3">
      <%= text_field_tag nil, course.try(:level).try(:name), class: "form-control", disabled: "disabled" %>
    </div>
    <div class="col-md-3">
      <%= text_field_tag nil, course.try(:instructor).try(:name), class: "form-control", disabled: "disabled" %>
    </div>
    <div class="col-md-1">
      <% if @schools.present? %>
        <%= link_to t("views.buttons.select"), "#courses", class: "btn btn-default", "data-toggle" => "modal" %>
        <%= render "courses" %>
      <% else %>
        <%= link_to t("views.buttons.select"), "#courses", class: "btn btn-default", disabled: "disabled" %>
      <% end %>
    </div>
  </div>
  <%= f.hidden_field :member_id %>
  <%= f.hidden_field :course_id %>
  <div class="form-group <%= 'has-error' if @members_course.errors[:introduction].present? %>">
    <div class="col-md-3 col-md-offset-1">
      <div class="checkbox">
        <%= f.label :introduction do %>
          <%= f.check_box :introduction %><%= t("activerecord.attributes.members_course.introduction") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @members_course.errors[:begin_date].present? %>">
    <%= f.label t("activerecord.attributes.members_course.begin_date"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.date_field :begin_date, class: "form-control", min: min_begin_date(@member.enter_date, timetable.try(:weekday)), step: 7 %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @members_course.errors[:end_date].present? %>">
    <%= f.label t("activerecord.attributes.members_course.end_date"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.date_field :end_date, class: "form-control", min: @members_course.begin_date %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @members_course.errors[:note].present? %>">
    <%= f.label :note, class: "col-md-1 control-label" %>
    <div class="col-md-5">
      <%= f.text_area :note, class: "form-control" %>
    </div>
  </div>

  <% if params[:action] == "show" %>
    </fieldset>
  <% end %>

<% end %>
