<div id="timetables" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">クラス選択</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills nav-justified">
          <% @courses.to_a.uniq {|course| course['studio_id'] }.each.with_index(1) do |course, i| %>
            <li class="<%= 'active' if i == 1 %>">
              <a href="#<%= course['school_id'] + course['studio_id'] %>" data-toggle="tab"><%= course['studio_name'] %></a>
            </li>
          <% end %>
        </ul>
        <div class="tab-content">
          <% @courses.to_a.uniq {|studio| studio['studio_id'] }.each.with_index(1) do |studio, i| %>
            <div class="tab-pane <%= 'active' if i == 1 %>" id="<%= studio['school_id'] + studio['studio_id'] %>">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <th style="width: 9%;"></th>
                    <% 1.step(7) do |cwday| %>
                      <th style="width: 13%;"><%= weekday_ja(cwday) %></th>
                    <% end %>
                  </thead>
                  <tbody>
                    <% @courses.select {|course| course['school_id'] == studio['school_id'] }.select {|course| course['studio_id'] == studio['studio_id'] }.each do |course| %>
                      <% if course['weekday'] == '1' %>
                        <tr>
                      <% end %>
                      <% if course['weekday'] == '1' %>
                          <th><%= course['start_time'] %></th>  
                      <% end %>
                      <td>
                        <% if course['course_id'].present? %>
                          <%= link_to new_member_members_course_path(@member.id, course_id: course['course_id']) do %>
                            <h5>
                              <%= course['dance_style_name'] %>
                              <br />
                              <%= course['level_name'] %>
                              <br />
                              <small><%= course['instructor_name'] %></small>
                            </h5>
                          <% end %>
                        <% end %>
                      </td>
                      <% if course['weekday'] == '7' %>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <%= button_tag t("views.buttons.close"), class: "btn btn-default", data: { dismiss: "modal" } %>
      </div>
    </div>
  </div>
</div>