<%= render "breadcrumb" %>
<%= render "nav_tabs" %>
<%= new_link_to new_member_course_path(@member), pull: "right" %>
<div class="tab-content">
  <br />
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("activerecord.models.school") %></th>
          <th><%= t("activerecord.models.studio") %></th>
          <th><%= t("activerecord.attributes.timetable.weekday") %></th>
          <th><%= t("activerecord.models.time_slot") %></th>
          <th><%= t("activerecord.models.course") %></th>
          <th><%= t("activerecord.attributes.members_course.begin_date") %></th>
          <th><%= t("activerecord.attributes.members_course.end_date") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @members_courses.each do |members_course| %>
          <% course = members_course.course %>
          <% timetable = course.timetable %>
          <% time_slot = timetable.time_slot %>
          <% studio = timetable.studio %>
          <% school = studio.school %>
          <tr>
            <td><%= school.name %></td>
            <td><%= studio.name %></td>
            <td><%= timetable.weekday_ja %></td>
            <td><%= time_slot.start_time %></td>
            <td><%= course.name %></td>
            <td><%= members_course.begin_date %></td>
            <td><%= members_course.end_date %></td>
            <td>
            <%= link_to t("views.buttons.show"), member_course_path(@member, members_course), class: "btn btn-default" %>
            <%= link_to t("views.buttons.edit"), edit_member_course_path(@member, members_course), class: "btn btn-default" %>
              <% if members_course.delete? %>
                <a data-toggle="modal" href="#object_<%= members_course.id %>" class="btn btn-default"><%= t("views.buttons.delete") %></a>
                <div class="modal fade" id="object_<%= members_course.id %>">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">確認</h4>
                      </div>
                      <div class="modal-body">
                        削除してよいですか？
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉 じ る</button>
                        <%= link_to t("views.buttons.delete"), member_course_path(@member, members_course), method: :delete, class: "btn btn-default" %>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <button type="button" class="btn btn-default" disabled="disabled">
                  <%= t("views.buttons.delete") %>
                </button>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
