<ul class="nav nav-tabs">
  <li>
    <%= link_to t("activerecord.models.member"), member_path(@member), class: "btn btn-link" %>
  </li>
  <li>
    <%= link_to t("activerecord.models.members_course"), member_members_course_path(@member, @members_course), class: "btn btn-link" %>
  </li>
  <li class="active">
    <a href="#roll" data-toggle="tab"><%= t("activerecord.models.roll") %></a>
  </li>
</ul>

<div class="tab-content">
  <br />
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.lesson.date") %></th>
          <th><%= t("activerecord.attributes.roll.status") %></th>
        </tr>
      </thead>
      <tbody>
        <% @rolls.each do |roll| %>
          <tr>
            <td><%= roll.lesson.date %></td>
            <td><%= roll_status_html(roll.status) %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>

