<%= render "breadcrumb" %>
<%= render "nav_tabs" %>

<div class="tab-content">
  <br />
  <%= render "shared/notice" %>
  <%= render "form" %>
  <%= button_to_back member_courses_path(@member), pull: "left" %>
  <%= button_to_edit edit_member_course_path(@member, @members_course), pull: "right" %>
</div>
