<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li class="<%= 'active' if params[:controller].presence_in(['home', 'comments', ]) %>">
        <%= link_to fa_icon('comments', text: t("activerecord.models.post")), root_path %>
      </li>
      <li class="<%= 'active' if params[:controller].presence_in(['lessons', 'rolls',]) %>">
        <%# link_to fa_icon('list-alt', text: t("activerecord.models.lesson")), lessons_path %>
        <%= link_to fa_icon('list-alt', text: '出席簿'), lessons_path %>
      </li>
      <li class="<%= 'active' if params[:controller].presence_in(['members', 'members_courses', 'recesses',]) %>">
        <%= link_to fa_icon('users', text: t("activerecord.models.member")), members_path("q[status_eq]" => '1') %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'bank_accounts' %>">
        <%= link_to fa_icon('credit-card', text: t("activerecord.models.bank_account")), bank_accounts_path %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'courses' %>">
        <%= link_to fa_icon('calendar', text: t("activerecord.models.course")), courses_path %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'instructors' %>">
        <%= link_to fa_icon('user', text: t("activerecord.models.instructor")), instructors_path %>
      </li>
    </ul>
  </div>
</div>
<hr style="margin: 5px;" />
