<div id="courses" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">クラス選択</h4>
      </div>
      <div class="modal-body">
        <ul id="studio-tabs" class="nav nav-tabs nav-justified">
          <% @courses.to_a.uniq {|course| course['studio_id'] }.each.with_index(1) do |course, i| %>
            <li class="<%= 'active' if i == 1 %>">
              <a href="#<%= course['school_id'] + course['studio_id'] %>" data-toggle="tab"><%= course['studio_name'] %></a>
            </li>
          <% end %>
        </ul>
        <br />
        <div class="tab-content">
          <%= render partial: "courses", locals: { courses: @courses, date: Date.today, member: @member } %>
        </div>
      </div>
      <div class="modal-footer">
        <%= button_tag t("views.buttons.close"), class: "btn btn-default", data: { dismiss: "modal" } %>
      </div>
    </div>
  </div>
</div>
