<%= render "nav" %>
<br />
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th rowspan="2" colspan="3"><%= t "activerecord.models.course" %></th>
            <th colspan="9"><%= @start_date.strftime("%Y年") %></th>
            <th colspan="3"><%= @end_date.strftime("%Y年") %></th>
          </tr>
          <tr>
            <% @months.each do |month| %>
              <th><%= month.strftime("%m月") %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= @courses.to_sql %>
          <% @courses.each do |course| %>
            <tr>
              <th><%= "#{course.timetable.studio.name}" %></th>
              <th><%= "#{course.timetable.weekday_ja}" %></th>
              <th><%= course.name %></th>
              <% @months.each do |month| %>
                <td>
                  <div class="pull-right">
                    <% if course.open_date <= month && month.end_of_month <= (course.close_date || Date.today.end_of_month) %>
                      <%= course.members_courses.active(month.end_of_month).count %>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
