<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th><%= t "activerecord.models.members_course" %></th>
          <th><%= t "activerecord.models.member" %></th>
        </tr>
      </thead>
      <tbody>
        <% @members_courses.each.with_index(1) do |members_course, i| %>
          <% member = members_course.member.decorate %>
          <% course = members_course.course %>
          <tr>
            <td><div class="pull-right"><%= i %></div></td>
            <td><%= link_to course.name, member_course_path(member.id, members_course.id) %></td>
            <td><%= link_to member.name, member_path(member) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

