<% breadcrumb :posts %>
<div class="row">
  <div class="col-md-11">
    <%= search_form_for @q, url: posts_path, class: 'form-inline' do |f| %>
      <% if @current_user.admin? %>
        <div class="form-group">
          <%= f.collection_select :user_id_eq, @users, :id, :name, { include_blank: 'スタッフ' }, { class: "form-control" } %>
        </div>
      <% end %>
      <div class="form-group">
        <%# f.text_field :open_date_gteq, class: "form-control", placeholder: '開始日', data: { behaviour: 'datepicker' } %>
        <%= date_picker_field "open_date_gteq" do %>
          <%= f.text_field :open_date_gteq, class: "form-control", placeholder: '開始日' %>
        <% end %>
      </div>
      <%= f.button class: "btn btn-success" do %>
        <%= fa_icon("search lg", text: t("views.buttons.search")) %>
      <% end %>
      <%= button_to_new new_post_path, pull: "right" %>
    <% end %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-11">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-3"><%= t "activerecord.attributes.post.title" %></th>
            <th class="col-md-4"><%= t "activerecord.attributes.post.content" %></th>
            <th class="col-md-1"><%= t "activerecord.attributes.post.user_id" %></th>
            <th class="col-md-1"><%= t "activerecord.attributes.post.open_date" %></th>
            <th class="col-md-1"><%= t "activerecord.attributes.post.close_date" %></th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= truncate(post.title, length: 20)  %></td>
              <td><%= truncate(post.content, length: 30) %></td>
              <td><%= post.user.name if post.user %></td>
              <td><%= post.open_date %></td>
              <td><%= post.close_date %></td>
              <td class="text-center">
                <%= link_to_show post_path(post) %>
                <%= link_to_edit edit_post_path(post), edit: post.editable?(@current_user) %>
                <%= link_to_destroy post.id, post_path(post), destroy: post.deletable?(@current_user) %>
              </td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

