<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <% if current_page?(instructors_path) %>
        <li class="active"><%= t("activerecord.models.instructor") %></li>
      <% else %>
        <li><%= link_to t("activerecord.models.instructor"), instructors_path %></li>
      <% end %>
      <% if current_page?(new_instructor_path) %>
        <li class="active"><%= t("views.buttons.new") %></li>
      <% end %>
      <% if current_page?(instructor_path(@instructor)) %>
        <li class="active"><%= @instructor.name %></li>
      <% end %>
      <% if current_page?(edit_instructor_path(@instructor)) %>
        <li><%= link_to @instructor.name, instructor_path(@instructor) %></li>
        <li class="active"><%= t("views.buttons.edit") %></li>
      <% end %>
      <% if current_page?(instructor_courses_path(@instructor)) %>
        <% if false %>
        <li><%= link_to @instructor.name, instructor_path(@instructor) %></li>
        <li class="active"><%= t("activerecord.models.course") %></li>
        <% end %>
        <li class="active"><%= @instructor.name %></li>
      <% end %>
    </ol>
  </div>
</div>
