<% breadcrumb :instructor, @instructor %>
<%= render partial: 'nav_tabs', locals: { instructor: @instructor, active: :courses } %>
<br />
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= form_tag instructor_courses_path(@instructor), method: :get, class: "form-inline" do %>
        <%= select_tag 'status', options_for_select([['開講', '1'], ['閉講', '9']], params[:status]), class: "form-control", include_blank: true %>
        <%= button_to_search %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-2"><%= t("activerecord.models.studio") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.timetable.weekday") %></th>
            <th class="col-md-1"><%= t("activerecord.models.time_slot") %></th>
            <th class="col-md-2"><%= t("activerecord.models.course") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.course.open_date") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.course.close_date") %></th>
            <th class="col-md-1"><%= t("activerecord.models.member") %></th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.timetable.studio.name %></td>
              <td><%= t('date.cwday_names')[course.timetable.weekday] %></td>
              <td><%= course.timetable.time_slot.start_time %></td>
              <td><%= "#{course.dance_style.name}#{course.level.name}" %></td>
              <td><%= course.open_date %></td>
              <td><%= course.close_date %></td>
              <td><div class="pull-right"><%= course.members_courses.active.count %></div></td>
              <td class="text-center"><%= link_to_show course_path(course) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
