<% breadcrumb :edit_instructor, @instructor %>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= tab_to_instructor @instructor, active: true %>
      <%= tab_to_instructors_courses @instructor %>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render "form" %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back instructor_path(@instructor), pull: "left" %>
  </div>
</div>
