<%= render "breadcrumb" %>
<%= render "nav_tabs" %>
<div class="tab-content">
  <br />
  <%= render 'form' %>
  <%# button_tag t("views.buttons.create"), class: "btn btn-default pull-right", form: "form" %>
  <%= save_button_tag(pull: "right") %>
  <%= back_to_index_link_to instructors_path, pull: "left" %>
</div>
