<%= render "breadcrumb" %>
<%= render "nav_tabs" %>
<div class="tab-content">
  <br />
  <%= render 'form' %>
  <%= save_button_tag(pull: "right") %>
  <%= back_link_to instructor_path(@instructor), pull: "left" %>
</div>
