<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_instructors(active: true) %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= search_form_for @q, html: { class: "form-inline" } do |f| %>
      <div class="form-group">
        <%= f.text_field :name_start, class: "form-control", placeholder: t("activerecord.attributes.instructor.name"), autofocus: true %>
      </div>
      <%= f.button class: "btn btn-success" do %>
        <%= fa_icon("search lg", text: t("views.buttons.search")) %>
      <% end %>
      <%= button_to_new new_instructor_path, pull: "right" %>
    <% end %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-4">
    <%= render "shared/notice" %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-2"><%= t("activerecord.attributes.instructor.name") %></th>
            <th class="col-md-1">クラス数</th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @instructors.each do |instructor| %>
            <tr>
              <td><%= instructor.name %></td>
              <td><div class="pull-right"><%= instructor.courses.active.count %></div></td>
              <td class="text-center">
                <%= link_to_show instructor_path(instructor) %>
                <%= link_to_edit edit_instructor_path(instructor) %>
                <%= link_to_destroy instructor.id, instructor_path(instructor), destroy: instructor.destroy? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @instructors %>
    </div>
  </div>
</div>
