<%= render "breadcrumb" %>
<%= new_link_to new_instructor_path, pull: "right" %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2"><%= t("activerecord.attributes.instructor.name") %></th>
        <th>クラス数</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @instructors.each do |instructor| %>
        <tr>
          <td><%= instructor.name %></td>
          <td><%= instructor.team %></td>
          <td><div class="pull-right"><%= instructor.courses.active.count %></div></td>
          <td>
            <%= show_link_to instructor_path(instructor) %>
            <%= edit_link_to edit_instructor_path(instructor) %>
            <%= render "shared/delete_button", object: instructor %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @instructors %>
</div>
