<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_instructors %>
      <%= list_item_to_new %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= tab_to_instructor @instructor, active: true %>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back instructors_path, pull: "left" %>
  </div>
</div>
