<% breadcrumb :instructor, @instructor %>
<%= render partial: 'nav_tabs', locals: { instructor: @instructor, active: :instructor } %>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render "shared/notice" %>
    <%= render "form" %>
    <%= button_to_back instructors_path, pull: "left" %>
    <%= button_to_edit edit_instructor_path(@instructor), pull: "right" %>
  </div>
</div>
