<%= render "shared/notice" %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-horizontal" role="form">
    <div class="form-group">
      <%= label_tag nil, t("activerecord.attributes.instructor.name"), class: "col-md-2 control-label" %>
      <div class="col-md-5">
        <%= text_field_tag :kana, @instructor.kana, class: "form-control", disabled: "disabled" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5 col-md-offset-2">
        <%= text_field_tag :name, @instructor.name, class: "form-control", disabled: "disabled" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag nil, t("activerecord.attributes.instructor.team"), class: "col-md-2 control-label" %>
      <div class="col-md-5">
        <%= text_field_tag :team, @instructor.team, class: "form-control", disabled: "disabled" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag nil, t("activerecord.attributes.instructor.phone"), class: "col-md-2 control-label" %>
      <div class="col-md-3">
        <%= text_field_tag :phone, @instructor.phone, class: "form-control", disabled: "disabled" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag nil, t("activerecord.attributes.instructor.email"), class: "col-md-2 control-label" %>
      <div class="col-md-5">
        <%= text_field_tag :email_pc, @instructor.email_pc, class: "form-control", disabled: "disabled" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5 col-md-offset-2">
        <%= text_field_tag :email_mobile, @instructor.email_mobile, class: "form-control", disabled: "disabled" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag nil, t("activerecord.attributes.instructor.note"), class: "col-md-2 control-label" %>
      <div class="col-md-5">
        <%= text_area_tag :note, @instructor.note, class: "form-control", disabled: "disabled" %>
      </div>
    </div>

    <%= link_to t("views.buttons.back"), instructors_path, class: "btn btn-default pull-left" %>
    <%= link_to t("views.buttons.edit"), edit_instructor_path(@instructor), class: "btn btn-default pull-right" %>
  </div>
</div>
