<ol class="breadcrumb">
  <% if current_page?(users_path) %>
    <li class="active"><%= t("activerecord.models.user") %></li>
  <% else %>
    <li><%= link_to t("activerecord.models.user"), users_path %></li>
  <% end %>
  <% if current_page?(new_user_path) %>
    <li class="active"><%= t("views.buttons.new") %></li>
  <% end %>
  <% if current_page?(user_path(@user)) %>
    <li class="active"><%= @user.name %></li>
  <% end %>
  <% if current_page?(edit_user_path(@user)) %>
    <li><%= link_to @user.name, user_path(@user) %></li>
    <li class="active"><%= t("views.buttons.edit") %></li>
  <% end %>
</ol>


