<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_users %>
      <%= list_item_to_user @user %>
      <%= list_item_to_edit %>
    </ol>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render "form" %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back users_path, pull: "left" %>
  </div>
</div>
