<%= render "breadcrumb" %>

<div class="tab-content">
  <%= render "shared/notice" %>
  <%= button_to_new new_user_path, pull: "right" %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.user.name") %></th>
          <th><%= t("activerecord.attributes.user.email") %></th>
          <th><%= t("activerecord.attributes.user.role") %></th>
          <th><%= t("activerecord.attributes.user.status") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= user.status %></td>
            <td>
              <%= link_to_show user_path(user) %>
              <% unless current_user.id == user.id %>
                <%= link_to_edit edit_user_path(user) %>
                <%= link_to_destroy user.id, user_path(user) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

