<ul class="nav nav-tabs">
  <li><%= member_link(@member) %></li>
  <li><%= member_courses_link(@member) %></li>
  <li><%= member_rolls_link(@member) %></li>
  <li class="active">
    <a href="#recess" data-toggle="tab"><%= t("activerecord.models.recess") %></a>
  </li>
  <li><%= member_receipts_link(@member) %></li>
</ul>
