<%= render "nav_tabs" %>

<div class="tab-content">
  <br/>
  <%= render "breadcrumb" %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.recess.month") %></th>
          <th><%= t("activerecord.attributes.recess.status") %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @recesses.each do |recess| %>
          <tr>
            <td><%= recess.month %></td>
            <td><%= display_recess_status(recess.status) %></td>
            <td><%= link_to t("views.buttons.show"), member_course_recess_path(@member, @members_course, recess), class: "btn btn-default" %></td>
            <td><%= link_to t("views.buttons.edit"), edit_member_course_recess_path(@member, @members_course, recess), class: "btn btn-default" %></td>
            <td><%= render "delete_button", object: recess %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br />
  <%= link_to t("views.buttons.new"), new_member_course_recess_path(@member, @members_course), class: "btn btn-default" %>
</div>
