<%= render "breadcrumb" %>
<%= render "nav_tabs" %>
<div class="tab-content">
  <br/>
  <%= render "shared/notice" %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.recess.month") %></th>
          <th><%= t("activerecord.attributes.recess.members_course_id") %></th>
          <th><%= t("activerecord.attributes.recess.status") %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @recesses.each do |recess| %>
          <tr>
            <td><%= recess.month %></td>
            <td><%= recess.members_course.course.name %></td>
            <td><%= recess.status %></td>
            <td>
              <%= show_link_to member_recess_path(@member, recess) %>
              <%= edit_link_to edit_member_recess_path(@member, recess) %>
              <%= render "delete_button", object: recess %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
