<% breadcrumb :member, @member %>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= tab_to_member(@member) %>
      <%= tab_to_members_courses(@member) %>
      <%= tab_to_members_rolls(@member) %>
      <%= tab_to_members_recesses(@member, active: true) %>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-8">
    <%= button_to_new new_member_recess_path(@member), pull: "right" %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-8">
    <%= render "shared/notice" %>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-1"><%= t("activerecord.attributes.recess.month") %></th>
            <th class="col-md-2"><%= t("activerecord.models.studio") %></th>
            <th class="col-md-3"><%= t("activerecord.models.members_course") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.recess.status") %></th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @recesses.each do |recess| %>
            <tr>
              <td><%= recess.month %></td>
              <td><%= recess.members_course.course.timetable.studio.name %></td>
              <td><%= link_to recess.members_course.course.name, course_path(recess.members_course.course), class: 'btn btn-link' %></td>
              <td class="text-center"><%= recess.status %></td>
              <td class="text-center">
                <%= link_to_show member_recess_path(@member, recess) %>
                <%= link_to_edit edit_member_recess_path(@member, recess) %>
                <%= link_to_destroy recess.id, member_recess_path(@member, recess), destroy: recess.deletable? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
