<%= render "breadcrumb" %>
<%= render "nav_tabs.html.erb" %>
<div class="tab-content">
  <br />
  <%= render "form" %>
  <%= button_to_save pull: "right" %>
  <%= button_to_back member_recesses_path(@member), pull: "left" %>
</div>
