<% breadcrumb :member, @member %>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= tab_to_member(@member) %>
      <%= tab_to_members_courses(@member) %>
      <%= tab_to_members_rolls(@member) %>
      <%= tab_to_members_recesses(@member, active: true) %>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render "form" %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back member_recesses_path(@member), pull: "left" %>
  </div>
</div>
