<% add_class = "" %>
<% add_class = "pull-right" if object.class.name == "Course" %>
<% if object.delete? %>
  <a data-toggle="modal" href="#object_<%= object.id %>" class="btn btn-default <%= add_class %>"><%= t("views.buttons.delete") %></a>
  <div class="modal fade" id="object_<%= object.id %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">確認</h4>
        </div>
        <div class="modal-body">
          削除してよいですか？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉 じ る</button>
          <%= link_to t("views.buttons.delete"), object, method: :delete, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <button type="button" class="btn btn-default <%= add_class %>" disabled="disabled">
    <%= t("views.buttons.delete") %>
  </button>
<% end %>
