<%= form_for(@task, url: task_debit_path(@task), html: { roll: "form", class: "form-horizontal", id: "form"}) do |f| %>

  <%= render "shared/errors", object: @task %>

  <%# "<fieldset disabled>".html_safe if current_page?(debit_task_path(@task)) %>

  <%= f.hidden_field :frequency %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :status %>

  <div class="form-group <%= 'has-error' if @task.errors[:date].present? %>">
    <%= f.label t("activerecord.attributes.debit.month"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%# f.text_field :due_date, class: "form-control", data: { behaviour: "monthpicker" } %>
      <%= text_field_tag "task[due_date]", @task.due_date.try(:strftime, "%Y/%m"), class: "form-control", data: { behaviour: "monthpicker" } %>
    </div>
  </div>

  <% if false %>
  <div class="form-group <%= 'has-error' if @task.errors[:status].present? %>">
    <%= f.label t("activerecord.attributes.task.status"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.select :status, [["仕掛中", "1"], ["完了", "2"]], {}, { class: "form-control" } %>
    </div>
  </div>
  <% end %>

  <div class="form-group <%= 'has-error' if @task.errors[:note].present? %>">
    <%= f.label :note, class: "col-md-1 control-label" %>
    <div class="col-md-5">
      <%= f.text_area :note, class: "form-control" %>
    </div>
  </div>

  <%# "</fieldset>".html_safe if current_page?(debit_task_path(@task)) %>

<% end %>


