<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_salaries %>
      <%= list_item_to_salaries_of_month @month, active: true %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= form_tag salaries_path(@month), method: :get, class: "form-inline" do %>
      <div class="form-group">
        <%= text_field_tag "name", params[:name], class: "form-control", placeholder: t("activerecord.attributes.instructor.name"), autofocus: true %>
      </div>
      <%= button_to_search %>
    <% end %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th class="col-md-3"><%= t("activerecord.attributes.instructor.name") %></th>
            <th class="col-md-1"></th>
            <th class="col-md-8"></th>
          </tr>
        </thead>
        <tbody>
          <% @instructors.each do |instructor| %>
          <tr>
            <td><%= instructor.name %></td>
            <td><%= link_to_show salary_path(@month, instructor) %></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @instructors %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="pager">
      <li class="previous">
        <%= link_to_prev_months_salaries @month %>
      </li>
      <li class="next">
        <%= link_to_next_months_salaries @month %>
      </li>
    </ul>
  </div>
</div>

