<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_salaries %>
      <%= list_item_to_salaries_of_month @month %>
      <%= list_item_to_salary @month, @instructor, active: true %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% total_of_course = 0 %>
    <% @courses.each do |course| %>
      <% total_of_members_course = 0 %>
      <% members_courses = course.members_courses.active(@end_of_month).decorate %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3"><%= t "activerecord.models.course" %></td>
              <th class="col-md-1"></td>
              <th class="col-md-2"><%= t "activerecord.models.member" %></td>
              <th class="col-md-1"></td>
              <th class="col-md-1"><%= t "activerecord.attributes.member.status" %></td>
              <th class="col-md-2">金額</td>
              <th class="col-md-2"></td>
            </tr>
          </thead>
          <tbody>
            <% members_courses.each_with_index do |members_course, i| %>
              <tr>
                <% if i == 0 %>
                  <td rowspan="<%= members_courses.count + 1 %>" style="vertical-align: top;">
                    <ul class="list-unstyled">
                      <li>
                        <h6 style="margin-bottom: 0px">
                          <%= "#{course.timetable.studio.school.name}#{course.timetable.studio.name}　#{course.timetable.decorate.weekday}曜#{course.timetable.time_slot.start_time}〜" %>
                        </h6>
                      </li>
                      <li>
                        <h3 style="margin-top: 0px">
                          <%= "#{course.dance_style.name}#{course.level.name}" %>
                        </h3>
                      </li>
                    </ul>
                  </td>
                  <td rowspan="<%= members_courses.count + 1 %>" style="vertical-align: top;">
                    <div class="pull-right"><h3 style="margin-top: 23px; margin-bottom: 0px;"><%= "#{members_courses.count}人" %></h3></div>
                  </td>
                <% end %>
                <td><%= link_to members_course.member.decorate.name, member_course_path(members_course.member, members_course) %></td>
                <td><%= members_course.introduction %></td>
                <td>
                  <% if members_course.recesses.find_by(month: @month) %>
                    <%= label_for_recess %>
                  <% elsif members_course.begin_date < Date.new(@month[0, 4].to_i, @month[4, 6].to_i, 1) %>
                    <%= label_for_attend %>
                  <% else %>
                    <%= label_for_new members_course.start_week_of_month %>
                  <% end %>
                </td>
                <td>
                  <div class="pull-right">
                    <% salary = members_course.salary_for_instructor(@month) %>
                    <% total_of_members_course += salary %>
                    <%= number_to_currency salary %>
                  </div>
                </td>
                <td>
                  <%= @end_of_date %>
                  <% if members_course.end_date == @end_of_month %>
                    当月で退会
                  <% end %>
                </td>
              </tr>
            <% end %>
            <% if members_courses.count > 0 %>
              <tr>
                <td></td>
                <td></td>
                <th>合計</th>
                <td>
                  <div class="pull-right">
                    <h4 style="margin-top: 0px;"><%= number_to_currency total_of_members_course %></h4>
                    <% total_of_course += total_of_members_course %>
                  </div>
                </td>
                <td></td>
              </tr>
            <% else %>
              <tr>
                <td style="vertical-align: top;">
                  <ul class="list-unstyled">
                    <li>
                      <h6 style="margin-bottom: 0px">
                        <%= "#{course.timetable.studio.school.name}#{course.timetable.studio.name}　#{course.timetable.decorate.weekday}曜#{course.timetable.time_slot.start_time}〜" %>
                      </h6>
                    </li>
                    <li>
                      <h3 style="margin-top: 0px">
                        <%= "#{course.dance_style.name}#{course.level.name}" %>
                      </h3>
                    </li>
                  </ul>
                </td>
                <td style="vertical-align: top;">
                  <div class="pull-right"><h3 style="margin-top: 23px; margin-bottom: 0px;"><%= "#{members_courses.count}人" %></h3></div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3">合計</td>
            <th class="col-md-1"></td>
            <th class="col-md-2"></td>
            <th class="col-md-1"></td>
            <th class="col-md-1"></td>
            <th class="col-md-2"></td>
            <th class="col-md-2"></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="4"></td>
            <td rowspan="4"></td>
            <td rowspan="4"></td>
            <td rowspan="4"></td>
            <td>講師代</td>
            <td><div class="pull-right"><%= number_to_currency total_of_course %></div></td>
          </tr>
          <tr>
            <% transportation = @instructor.transportation || 0 %>
            <td>交通費</td>
            <td><div class="pull-right"><%= number_to_currency(transportation || 0 ) %></div></td>
          </tr>
          <tr>
            <% tax = total_of_course * 0.121 %>
            <td>源泉徴収税</td>
            <td><div class="pull-right"><%= number_to_currency(tax) %></div></td>
          </tr>
          <tr>
            <th>総計</th>
            <td><div class="pull-right"><h3 style="margin-top: 0px;"><%= number_to_currency(total_of_course + transportation - tax) %></h3></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to_prev_months_salary @month, @instructor %>
    <%= link_to_next_months_salary @month, @instructor %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= button_to_back salaries_path(@month), pull: "left" %>
  </div>
</div>
