<% breadcrumb :course, @course %>
<%= render partial: 'nav_tabs', locals: { course: @course, active: :members_courses } %>
<br />
<div class="row">
  <div class="col-md-12">
    <%= form_tag course_members_path(@course), method: :get, class: "form-inline" do %>
      <div class="form-group">
        <%= select_tag 'status', options_for_select([['在籍', '1'], ['退籍', '9']], params[:status]), class: "form-control", include_blank: true %>
      </div>
      <%= button_to_search %>
    <% end %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-8">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-1"><%= t("activerecord.attributes.member.number") %></th>
            <th class="col-md-4" colspan="3"><%= t("activerecord.attributes.member.name") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.members_course.begin_date") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.members_course.end_date") %></th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @members_courses.each do |members_course| %>
            <tr>
              <td><%= members_course.member.number %></td>
              <td class="col-md-2"><%= members_course.member.decorate.name_with_link %></td>
              <td class="col-md-1 text-center"><%= members_course.member.decorate.bank_status %></td>
              <td class="col-md-1 text-center"><%= members_course.introduction %></td>
              <td><%= members_course.begin_date %></td>
              <td><%= members_course.end_date %></td>
              <td class="text-center"><%= link_to_show member_members_course_path(members_course.member, members_course) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
