<% breadcrumb :lessons_for_month, @month %>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <% [1, 2, 3, 4, 5, 6, 0,].each do |wday| %>
              <th><%= t("date.abbr_day_names")[wday] %></th>
            <% end %>
          </tr>
          <tbody>
            <% @weeks.each do |week| %>
              <tr>
                <% week.each do |date| %>
                  <% if date.blank? %>
                    <td></td>
                  <% else %>
                    <td class="<%= 'success' if date.today? %> text-center">
                      <% if Rollbook::Calendar.workday?(date) %>
                        <%= link_to date.day, lessons_path(date: date.strftime("%Y%m%d"), school_id: current_user.school_id), class: "btn btn-link" %>
                      <% else %>
                        <%= link_to date.day, "#", class: "btn btn-link", disabled: "disabled" %>
                      <% end %>
                    </td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </thead>
      </table>
    </div>
    <ul class="pager">
      <li class="previous">
        <%= link_to_prev_months_lessons @month %>
      </li>
      <li class="next">
        <%= link_to_next_months_lessons @month %>
      </li>
    </ul>
  </div>
</div>