<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_lessons %>
      <%= list_item_to_lessons_of_month @month, active: true %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <% 1.step(7) do |cwday| %>
              <th><%= weekday_ja(cwday) %></th>
            <% end %>
          </tr>
          <tbody>
            <% @weeks.each do |week| %>
              <tr>
                <% week.each do |date| %>
                  <td class="<%= "active" if date == Date.today %>" style="text-align: center;">
                    <% if date.present? %>
                      <% if date.day < 29 %>
                        <%= link_to date.day, lessons_path(date: date.strftime("%Y%m%d")), class: "btn btn-link" %>
                      <% else %>
                        <%= link_to date.day, "#", class: "btn btn-link", disabled: "disabled" %>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </thead>
      </table>
    </div>
    <%= link_to_prev_months_lessons @month %>
    <%= link_to_next_months_lessons @month %>
  </div>
</div>

