<% breadcrumb :lessons_for_day, @date %>
<div class="row">
  <div class="col-md-12">
    <%= form_tag lessons_path, method: :get, class: "form-inline" do %>
      <%= hidden_field_tag :date, @date.to_s(:number) %>
      <div class="form-group">
        <%= select_tag :school_id, options_from_collection_for_select(School.all, :id, :name, params[:school_id]), class: "form-control", include_blank: true %>
      </div>
      <%= button_to_search %>
    <% end %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th class="col-md-2"><%= t("activerecord.models.studio") %></th>
            <th class="col-md-1"><%= t("activerecord.models.time_slot") %></th>
            <th class="col-md-3"><%= t("activerecord.attributes.lesson.course_id") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.lesson.status") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.lesson.rolls_status") %></th>
            <th class="col-md-1">出席</th>
            <th class="col-md-1">振替</th>
            <th class="col-md-1">欠席</th>
            <th class="col-md-1">休会</th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @lessons.each do |lesson| %>
            <% course = @courses.find {|course| course.id == lesson.course_id } %>
            <tr>
              <td><%= course.timetable.studio.name %></td>
              <td><%= course.timetable.time_slot.start_time %></td>
              <td><%= course.name %></td>
              <td class="text-center"><%= lesson.status %></td>
              <td class="text-center"><%= lesson.rolls_status %></td>
              <td class="text-right"><%= lesson.attendances_count %></td>
              <td class="text-right"><%= lesson.substitutes_count %></td>
              <td class="text-right"><%= lesson.absentees_count %></td>
              <td class="text-right"><%= lesson.recesses_count %></td>
              <td class="text-center">
                <% if lesson.new_record? %>
                  <%= render partial: 'form', locals: { lesson: lesson } %>
                <% else %>
                  <%= link_to_show lesson_rolls_path(lesson) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <ul class="pager">
      <li class="previous">
        <%= link_to_day_before_lessons @date, params[:school_id] %>
      </li>
      <li class="next">
        <%= link_to_day_after_lessons @date, params[:school_id] %>
      </li>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= button_to_back lessons_path(month: @date.strftime("%Y%m")), pull: "left" %>
  </div>
</div>

