<div class="row" style="margin-top: 200px;">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form", role: "form") do |f| %>
      <div class="form-group">
        <%= f.email_field :email, class: "form-control", placeholder: t("activerecord.attributes.user.email"), autofocus: true %>
        <%= f.password_field :password, class: "form-control", placeholder: t("activerecord.attributes.user.password"), required: "required" %>
      </div>
      <div class="form-group">
        <%= f.button class: "btn btn-primary btn-block", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> ログイン…" } do %>
          <%= fa_icon("sign-in lg", text: "ログイン") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
