<ol class="breadcrumb">
  <% if current_page?(bank_accounts_path) %>
    <li class="active"><%= t("activerecord.models.bank_account") %></li>
  <% else %>
    <li><%= link_to t("activerecord.models.bank_account"), bank_accounts_path %></li>
  <% end %>
  <% if current_page?(new_bank_account_path) %>
    <li class="active"><%= t("views.buttons.new") %></li>
  <% end %>
  <% if current_page?(bank_account_path(@bank_account)) %>
    <li class="active"><%= @bank_account.holder_name_kana %></li>
  <% end %>
  <% if current_page?(edit_bank_account_path(@bank_account)) %>
    <li><%= link_to @bank_account.holder_name_kana, bank_account_path(@bank_account) %></li>
    <li class="active"><%= t("views.buttons.edit") %></li>
  <% end %>
  <% if current_page?(bank_account_members_path(@bank_account)) %>
    <li><%= link_to @bank_account.holder_name_kana, bank_account_path(@bank_account) %></li>
    <li class="active"><%= t("activerecord.models.member") %></li>
  <% end %>


</ol>


