<%= form_for(@bank_account, member_id: params[:member_id], html: { role: "form", class: "form-horizontal", id: "form" }) do |f| %>

  <%= render "shared/errors", object: @bank_account %>

  <% if params[:action] == "show" %>
    <fieldset disabled>
  <% end %>

  <div class="form-group">
    <%= f.label t("activerecord.attributes.bank_account.holder_name"), class: "col-md-1 control-label" %>
    <div class="col-md-3 <%= 'has-error' if @bank_account.errors[:holder_name_kana].present? %>">
      <%= f.text_field :holder_name_kana, class: "form-control", "placeholder" => t("activerecord.attributes.bank_account.holder_name_kana") %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-1 col-md-3 <%= 'has-error' if @bank_account.errors[:holder_name].present? %>">
      <%= f.text_field :holder_name, class: "form-control", "placeholder" => t("activerecord.attributes.bank_account.holder_name") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t("activerecord.attributes.bank_account.bank"), class: "col-md-1 control-label" %>
    <div class="col-md-2 <%= 'has-error' if @bank_account.errors[:bank_id].present? %>">
      <%= f.text_field :bank_id, class: "form-control", "placeholder" => t("activerecord.attributes.bank_account.bank_id") %>
    </div>
    <div class="col-md-3 <%= 'has-error' if @bank_account.errors[:bank_name].present? %>">
      <%= f.text_field :bank_name, class: "form-control", "placeholder" => t("activerecord.attributes.bank_account.bank_name") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t("activerecord.attributes.bank_account.branch"), class: "col-md-1 control-label" %>
    <div class="col-md-2 <%= 'has-error' if @bank_account.errors[:branch_id].present? %>">
      <%= f.text_field :branch_id, class: "form-control", "placeholder" => t("activerecord.attributes.bank_account.branch_id") %>
    </div>
    <div class="col-md-3 <%= 'has-error' if @bank_account.errors[:branch_name].present? %>">
      <%= f.text_field :branch_name, class: "form-control", "placeholder" => t("activerecord.attributes.bank_account.branch_name") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t("activerecord.attributes.bank_account.account_number"), class: "col-md-1 control-label" %>
    <div class="col-md-2 <%= 'has-error' if @bank_account.errors[:account_number].present? %>">
      <%= f.text_field :account_number, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :receipt_date, class: "col-md-1 control-label" %>
    <div class="col-md-2 <%= 'has-error' if @bank_account.errors[:receipt_date].present? %>">
      <%= f.date_field :receipt_date, class: "form-control" %>
    </div>
    <%= f.label :ship_date, class: "col-md-1 control-label" %>
    <div class="col-md-2 <%= 'has-error' if @bank_account.errors[:ship_date].present? %>">
      <%= f.date_field :ship_date, class: "form-control" %>
    </div>
    <%= f.label :begin_date, class: "col-md-1 control-label" %>
    <div class="col-md-2 <%= 'has-error' if @bank_account.errors[:begin_date].present? %>">
      <%= f.date_field :begin_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2 col-md-offset-1">
      <div class="checkbox">
        <label>
          <%= f.check_box :self_proceed %><%= t("activerecord.attributes.bank_account.self_proceed") %>
        </label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="checkbox">
        <label>
          <%= f.check_box :change_bank %><%= t("activerecord.attributes.bank_account.change_bank") %>
        </label>
      </div>
    </div>
  </div>
  <% if false %>
  <div class="form-group">
    <%= f.label t("activerecord.attributes.bank_account.status"), class: "col-md-1 control-label" %>
    <div class="col-md-2 <%= 'has-error' if @bank_account.errors[:status].present? %>">
      <%= f.select :status, BankAccountsHelper::STATUS.map {|status| [ status[1], status[0]] }, {}, { class: "form-control" } %>
    </div>
  </div>
  <% end %>
  <div class="form-group <%= 'has-error' if @bank_account.errors[:note].present? %>">
    <%= f.label :note, class: "col-md-1 control-label" %>
    <div class="col-md-6">
      <%= f.text_area :note, class: "form-control", rows: 3 %>
    </div>
  </div>

  <%= hidden_field_tag "member_id", params[:member_id] %>

  <% if params[:action] == "show" %>
    </fieldset>
  <% end %>

<% end %>
