<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_bank_accounts %>
      <%= list_item_to_bank_account @bank_account, active: true %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= tab_to_bank_account @bank_account %>
      <%= tab_to_bank_account_members @bank_account, active: true %>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= button_to_new new_bank_account_member_path(@bank_account), pull: "right" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render "shared/notice" %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t("activerecord.attributes.member.number") %></th>
            <th><%= t("activerecord.attributes.member.name") %></th>
            <th>受講クラス数</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td><%= member.number %></td>
              <td><%= member.name %></td>
              <td><div class="pull-right"><%= member.members_courses.active.count %></div></td>
              <td>
                <%= link_to_show member_path(member) %>
                <%= link_to_destroy member.id, destroy_bank_account_member_path(@bank_account, member) %>
                <%# link_to t("views.buttons.delete"), destroy_bank_account_member_path(@bank_account, member), method: :delete, class: "btn btn-default" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

