<% breadcrumb :new_bank_account %>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= tab_to_bank_account @bank_account %>
      <%= tab_to_bank_account_members @bank_account, active: true %>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <%= render "shared/notice" %>
      <%= form_tag({ action: "create_member" }, { method: "post", id: "form" }) do %>
        <%= hidden_field_tag "bank_account_id", @bank_account.id %>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th><%= t("activerecord.attributes.member.number") %></th>
              <th><%= t("activerecord.attributes.member.name") %></th>
              <th><%= t("activerecord.attributes.member.enter_date") %></th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td><div class="radio"><%= radio_button_tag "member_id", member.id %></div></td>
                <td><%= member.number %></td>
                <td><%= member.name %></td>
                <td><%= member.enter_date %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= button_tag t("views.buttons.select"), class: "btn btn-default pull-right", form: "form" %>
      <% end %>
    </div>
    <%= button_to_back bank_account_members_path(@bank_account) %>
  </div>
</div>
