<%= render "nav_tabs" %>

<div class="tab-content">
  <br />
  <%= render "shared/notice" %>
  <%= render "form" %>
  <%= link_to t("views.buttons.back"), bank_accounts_path, class: "btn btn-default pull-left" %>
  <% if @member.present? %>
    <%= link_to t("views.buttons.edit"), edit_bank_account_path(@bank_account, member_id: @member.id), class: "btn btn-default pull-right" %>
  <% else %>
    <%= link_to t("views.buttons.edit"), edit_bank_account_path(@bank_account), class: "btn btn-default pull-right" %>
  <% end %>
</div>
