<%= render "breadcrumb" %>
<%= render "nav_tabs" %>
<div class="tab-content">
  <br />
  <%= render "shared/notice" %>
  <%= render "form" %>
  <%= button_to_back bank_accounts_path, pull: "left" %>
  <% if @member.present? %>
    <%= button_to_edit edit_bank_account_path(@bank_account, member_id: @member.id), pull: "right" %>
  <% else %>
    <%= button_to_edit edit_bank_account_path(@bank_account), pull: "right" %>
  <% end %>
</div>
