<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_bank_accounts %>
      <%= list_item_to_bank_account @bank_account, active: true %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= tab_to_bank_account @bank_account, active: true %>
      <%= tab_to_bank_account_members @bank_account %>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render "shared/notice" %>
    <%= render "form" %>
    <%= button_to_back bank_accounts_path, pull: "left" %>
    <% if @member.present? %>
      <%= button_to_edit edit_bank_account_path(@bank_account, member_id: @member.id), pull: "right" %>
    <% else %>
      <%= button_to_edit edit_bank_account_path(@bank_account), pull: "right" %>
    <% end %>
  </div>
</div>
