<ol class="breadcrumb">
  <% if current_page?(schools_path) %>
    <li class="active"><%= t("activerecord.models.school") %></li>
  <% end %>
  <% if current_page?(courses_path) %>
    <li><%= schools_link %></li>
    <li class="active"><%= "#{@studio.school.name}　#{@studio.name}" %></li>
  <% end %>
  <% if current_page?(course_path(@course)) %>
    <li><%= schools_link %></li>
    <li><%= link_to "#{@studio.school.name}　#{@studio.name}", courses_path(date: Date.today.strftime("%Y%m%d"), studio_id: @studio.id) %></li>
    <li class="active"><%= @course.decorate.name %></li>
  <% end %>
  <% if current_page?(edit_course_path(@course)) %>
    <li><%= schools_link %></li>
    <li><%= link_to "#{@studio.school.name}　#{@studio.name}", courses_path(date: Date.today.strftime("%Y%m%d"), studio_id: @studio.id) %></li>
    <li><%= link_to @course.decorate.name, course_path(@course) %></li>
    <li><%= t("views.buttons.edit") %></li>
  <% end %>
  <% if current_page?(new_course_path) %>
    <li><%= schools_link %></li>
    <li><%= link_to "#{@studio.school.name}　#{@studio.name}", courses_path(date: Date.today.strftime("%Y%m%d"), studio_id: @studio.id) %></li>
    <li><%= t("views.buttons.new") %></li>
  <% end %>
</ol>

