<ul class="nav nav-tabs">
  <li class="active"><a href="#course" data-toggle="tab"><%= t("activerecord.models.course") %></a></li>
  <% if @course.persisted? %>
    <% if current_page?(course_path(@course)) %>
      <li><%= course_members_link(@course) %></li>
      <li><%= course_lessons_link(@course) %></li>
    <% else %>
      <li class="disabled"><%= course_members_link(@course, disable: true) %></li>
      <li class="disabled"><%= course_lessons_link(@course, disable: true) %></li>
    <% end %>
  <% end %>
</ul>



