<% breadcrumb :edit_course, @course %>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= tab_to_course @course, active: true %>
      <%= tab_to_courses_members @course %>
      <%= tab_to_courses_lessons @course %>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render "form" %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back courses_path, pull: "left" %>
  </div>
</div>
