<%= render "breadcrumb" %>
<div class="tab-content">
  <%= render "nav_tabs" %>
  <br />
  <%= render 'form' %>
  <%= save_button_tag pull: "right" %>
  <%= back_link_to course_path(@course), pull: "left" %>
</div>
