<h1>Listing courses</h1>

<table>
  <thead>
    <tr>
      <th>Timetable</th>
      <th>Instructor</th>
      <th>Dance style</th>
      <th>Level</th>
      <th>Age group</th>
      <th>Open date</th>
      <th>Close date</th>
      <th>Note</th>
      <th>Monthly fee</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.timetable_id %></td>
        <td><%= course.instructor_id %></td>
        <td><%= course.dance_style_id %></td>
        <td><%= course.level_id %></td>
        <td><%= course.age_group_id %></td>
        <td><%= course.open_date %></td>
        <td><%= course.close_date %></td>
        <td><%= course.note %></td>
        <td><%= course.monthly_fee %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
