<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_schools %>
      <%= list_item_to_courses(@studio, date: @current_date, active: true) %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <caption style="text-align: center;"><%= @current_date.strftime("%Y年%m月") %></caption>
        <thead>
          <tr>
            <th style="width: 9%;">
            </th>
            <% 1.step 7 do |cwday| %>
              <th style="width: 13%;">
                <%= weekday_ja(cwday) if cwday > 0 %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @time_slots.each do |time_slot| %>
            <tr>
              <th>
                <%= time_slot.start_time %>
              </th>
              <% 1.step 7 do |cwday| %>
                <td>
                  <% timetable = @timetables.find_by weekday: cwday, time_slot_id: time_slot.id %>
                  <% course = @courses.find { |c| c.timetable_id == timetable.id } %>
                  <% if course.present? %>
                    <%= link_to course do %>
                      <%= course.dance_style.name %><br />
                      <%= course.level.name %><br />
                      <%= course.instructor.name %>
                    <% end %>
                  <% else %>
                    <%= link_to new_course_path(timetable_id: timetable.id), class: "btn btn-link", data: { toggle: "tooltip", "original-title" => t("views.buttons.new") } do %>
                      <%= fa_icon "plus" %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= link_to courses_path(date: @before_month.strftime("%Y%m%d"), studio_id: @studio.id), class: "btn btn-link pull-left" do %>
      <%= fa_icon "caret-left", text: @before_month.strftime("%Y年%m月") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= link_to courses_path(date: @next_month.strftime("%Y%m%d"), studio_id: @studio.id), class: "btn btn-link pull-right" do %>
      <%= @next_month.strftime("%Y年%m月") %> <%= fa_icon "caret-right" %>
    <% end %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-1">
    <%= button_to_back schools_path, pull: "left" %>
  </div>
</div>

