<% breadcrumb :course, @course %>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li><%= link_to t("activerecord.models.course"), course_path(@course), class: "btn btn-link" %></li>
      <li><%= link_to t("activerecord.models.member"), course_members_path(@course, status: '1'), class: "btn btn-link" %></li>
      <li class="active"><a href="#lesson" data-toggle="tab"><%= t("activerecord.models.lesson") %></a></li>
    </ul>
</div>
</div>
<br />
<div class="row">
  <div class="col-md-4">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-1"><%= t("activerecord.attributes.lesson.date") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.lesson.status") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.lesson.rolls_status") %></th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @lessons.each do |lesson| %>
            <tr>
              <td><%= lesson.date %></td>
              <td class="text-center"><%= lesson.status %></td>
              <td class="text-center"><%= lesson.rolls_status %></td>
              <td class="text-center"><%= link_to_show lesson_rolls_path(lesson) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @lessons %>
    </div>
  </div>
</div>

