<% breadcrumb :course, @course %>
<%= render partial: 'nav_tabs', locals: { course: @course, active: :lessons } %>
<br />
<div class="row">
  <div class="col-md-8">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-1"><%= t("activerecord.attributes.lesson.date") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.lesson.status") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.lesson.rolls_status") %></th>
            <th class="col-md-1">出席</th>
            <th class="col-md-1">振替</th>
            <th class="col-md-1">欠席</th>
            <th class="col-md-1">休会</th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @lessons.each do |lesson| %>
            <tr>
              <td><%= lesson.date %></td>
              <td class="text-center"><%= lesson.status %></td>
              <td class="text-center"><%= lesson.rolls_status %></td>
              <td class="text-right"><%= lesson.attendances_count %></td>
              <td class="text-right"><%= lesson.substitutes_count %></td>
              <td class="text-right"><%= lesson.absentees_count %></td>
              <td class="text-right"><%= lesson.recesses_count %></td>
              <td class="text-center"><%= link_to_show lesson_rolls_path(lesson) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @lessons %>
    </div>
  </div>
</div>

