<ol class="breadcrumb">
  <li><%= schools_link %></li>
  <li><%= link_to "#{@studio.school.name}　#{@studio.name}", courses_path(date: Date.today.strftime("%Y%m%d"), studio_id: @studio.id) %></li>
  <li class="active"><%= @course.decorate.name %></li>
  <% if false %>
  <li><%= link_to @course.decorate.name, course_path(@course) %></li>
  <li class="active"><%= t("activerecord.models.lesson") %></li>
  <% end %>
</ol>

<ul class="nav nav-tabs">
  <li><%= link_to t("activerecord.models.course"), course_path(@course), class: "btn btn-link" %></li>
  <li><%= link_to t("activerecord.models.member"), course_members_path(@course), class: "btn btn-link" %></li>
  <li class="active"><a href="#lesson" data-toggle="tab"><%= t("activerecord.models.lesson") %></a></li>
</ul>

<div class="tab-content">
  <br />
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.lesson.date") %></th>
          <th><%= t("activerecord.attributes.lesson.status") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @lessons.each do |lesson| %>
          <tr>
            <td><%= lesson.date %></td>
            <td><%= lesson.status %></td>
            <td><%= link_to_show lesson_rolls_path(lesson) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

