<%= render "breadcrumb" %>
<div class="tab-content">
  <%= render "nav_tabs" %>
  <br />
  <%= render 'form' %>
  <%= button_to_save pull: "right" %>
  <%= button_to_back courses_path, pull: "left" %>
</div>
