<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_schools %>
      <%= list_item_to_courses(@studio) %>
      <%= list_item_to_new %>
    </ol>
  </div>
</div>
<%= render "nav_tabs" %>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back courses_path, pull: "left" %>
  </div>
</div>
