<%# render 'nav' %>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_courses(@studio) %>
      <%= list_item_to_new %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= tab_to_course @course, active: true %>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render "form" %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back courses_path(studio_id: @studio.id, date: Date.today.strftime('%Y%m%d')), pull: "left" %>
  </div>
</div>
