<% breadcrumb :course, @course %>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= tab_to_course @course, active: true %>
      <%= tab_to_courses_members @course %>
      <%= tab_to_courses_lessons @course %>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render "shared/notice" %>
    <%= render "form" %>
    <%= button_to_back courses_path(date: Date.today.strftime("%Y%m%d"), studio_id: @studio.id), pull: "left" %>
    <%= button_to_destroy @course.id, course_path(@course), destroy: @course.destroy?, pull: "right" %>
    <%= button_to_edit edit_course_path(@course), pull: "right" %>
  </div>
</div>
