<%= render "shared/notice" %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-md-2 control-label"><%= t("activerecord.models.school") %></label>
        <div class="col-md-5">
          <%= text_field_tag :name, @course.timetable.studio.school.name,  class: "form-control", disabled: "disabled" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label"><%= t("activerecord.models.studio") %></label>
        <div class="col-md-5">
          <%= text_field_tag :name, @course.timetable.studio.name,  class: "form-control", disabled: "disabled" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label"><%= t("activerecord.attributes.timetable.weekday") %></label>
        <div class="col-md-2">
          <%= text_field_tag :name, weekday_ja(@course.timetable.weekday),  class: "form-control", disabled: "disabled" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label"><%= t("activerecord.models.time_slot") %></label>
        <div class="col-md-2">
          <%= text_field_tag :name, @course.timetable.time_slot.start_time,  class: "form-control", disabled: "disabled" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label"><%= t("activerecord.models.course") %></label>
        <div class="col-md-3">
          <%= text_field_tag nil, @course.dance_style.name,  class: "form-control", disabled: "disabled" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
          <%= text_field_tag :name, @course.level.name,  class: "form-control", disabled: "disabled" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
          <%= text_field_tag :name, @course.instructor.name,  class: "form-control", disabled: "disabled" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label"><%= t("activerecord.attributes.course.monthly_fee") %></label>
        <div class="col-md-2">
          <%= number_field_tag :name, @course.monthly_fee,  class: "form-control", disabled: "disabled" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label"><%= t("activerecord.attributes.course.open_date") %></label>
        <div class="col-md-2">
          <%= text_field_tag :name, @course.open_date,  class: "form-control", disabled: "disabled" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label"><%= t("activerecord.attributes.course.close_date") %></label>
        <div class="col-md-2">
          <%= text_field_tag :name, @course.close_date,  class: "form-control", disabled: "disabled" %>
        </div>
      </div>
      <%= link_to t("views.buttons.back"), courses_path, class: "btn btn-default pull-left" %>
      <%= link_to t("views.buttons.edit"), edit_course_path(@course), class: "btn btn-default pull-right" %>
    </div>
  </div>
</div>

