<%= render "nav_tabs" %>

<div class="tab-content">
  <br />
  <%= render "breadcrumb" %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <% scope = "activerecord.attributes.tuition" %>
          <th><%= t("month", scope: scope) %></th>
          <th><%= t("debit_status", scope: scope) %></th>
          <th><%= t("receipt_status", scope: scope) %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tuitions.each do |tuition| %>
          <tr>
            <td><%= tuition.month %></td>
            <td>
              <%= link_to tuition_debits_path(tuition) do %>
                <%= tuition.debit_status %>
              <% end %>
            </td>
            <td>
              <%= link_to tuition_receipts_path(tuition) do %>
                <%= tuition.receipt_status %>
              <% end %>
            </td>
            <td>
              <%= show_icon_link_to(tuition_path(tuition)) %>
              <%= edit_icon_link_to(edit_tuition_path(tuition)) %>
              <%= render "shared/delete_button", object: tuition %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<script>
  $("[data-toggle~='tooltip']").tooltip();
  $("[data-toggle~='modal']").tooltip();
</script>
