<ol class="breadcrumb">
  <li class="active"><%= t("activerecord.models.tuition") %></li>
</ol>

<div class="tab-content">
  <br />
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <% scope = "activerecord.attributes.tuition" %>
          <th><%= t("month", scope: scope) %></th>
          <th><%= t("receipt_status", scope: scope) %></th>
          <th><%= "対象者数" %></th>
          <th><%= "受取済" %></th>
          <th><%= "未受取" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tuitions.each do |tuition| %>
          <%
            total = tuition.receipts.cash.count
            paid = tuition.receipts.cash.paid.count
            unpaid = tuition.receipts.cash.unpaid.count
          %>
          <tr>
            <td><%= tuition.month %></td>
            <td>
              <% if total == paid %>
                COMPLETE
              <% end %>
            </td>
            <td><div class="pull-right"><%= total %>人</div></td>
            <td><div class="pull-right"><%= paid %>人</div></td>
            <td><div class="pull-right"><%= unpaid %>人</div></td>
            <td>
              <%= link_to_show tuition_receipts_path(tuition) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

