<%= render "nav_tabs" %>

<div class="tab-content">
  <br />
  <%= render "breadcrumb" %>
  <%= render "shared/notice" %>
  <%= render "form" %>
  <%= back_link_to tuitions_path, pull: "left" %>
  <%= edit_link_to edit_tuition_path(@tuition), pull: "right" %>
</div>

