<%= render "nav_tabs" %>

<div class="tab-content">
  <br />
  <%= render "breadcrumb" %>
  <%= render "shared/notice" %>
  <%= render "form" %>
  <%= button_to_back tuitions_path, pull: "left" %>
  <%= button_to_edit edit_tuition_path(@tuition), pull: "right" %>
</div>

