<%= form_tag({ action: "bulk_update", }, { method: "post", id: "form", }) do %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.debit.bank_account_id") %></th>
          <th><%= t("activerecord.attributes.debit.month") %></th>
          <th><%= t("activerecord.attributes.debit.amount") %></th>
          <th><%= t("activerecord.attributes.debit.status") %></th>
        </tr>
      </thead>
      <tbody>
        <% @debits.each do |debit| %>
          <%= hidden_field_tag "debits[][id]", debit.id %>
          <tr>
            <td><%= debit.bank_account.holder_name_kana %></td>
            <td><%= debit.month %></td>
            <td><%= debit.amount %></td>
            <td><%= render "status", object: debit %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
