<%= form_for(@debit, html: { role: "form", class: "form-horizontal", id: "form" }) do |f| %>

  <%= render "shared/errors", object: @debit %>

  <%= "<fieldset disabled>".html_safe if current_page?(debit_path(@debit)) %>

  <div class="form-group <%= 'has-error' if @debit.errors[:bank_account_id].present? %>">
    <%= f.label :bank_account_id, class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.collection_select :bank_account_id, BankAccount.all, :id, :holder_name_kana, { prompt: "" }, { class: "form-control", disabled: "disabled" } %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @debit.errors[:month].present? %>">
    <%= f.label :month, class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :month, class: "form-control", data: { behaviour: "monthpicker" } %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @debit.errors[:amount].present? %>">
    <%= f.label :amount, class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.number_field :amount, class: "form-control" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @debit.errors[:bank_account_id].present? %>">
    <%= f.label :status, class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :status, class: "form-control" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @debit.errors[:bank_account_id].present? %>">
    <%= f.label :note, class: "col-md-1 control-label" %>
    <div class="col-md-5">
      <%= f.text_area :note, class: "form-control" %>
    </div>
  </div>

  <%= "</fieldset>".html_safe if current_page?(debit_path(@debit)) %>

<% end %>
