<%= render "nav_tabs" %>

<div class="tab-content">
  <br />
  <%# render "breadcrumb" %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.debit.bank_account_id") %></th>
          <th><%= t("activerecord.attributes.debit.amount") %></th>
          <th><%= t("activerecord.attributes.debit.status") %></th>
        </tr>
      </thead>
      <tbody>
        <% @debits.each do |debit| %>
          <tr>
            <td><%= debit.bank_account.holder_name_kana %></td>
            <td><%= debit.amount %></td>
            <td><%= debit.status_label %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @debits %>
  <%= link_to t("views.buttons.back"), tuition_path(@tuition), class: "btn btn-default pull-left" %>
  <% if @tuition.debit_status == Tuition::DEBIT_STATUSES[:IN_PROCESS] %>
    <%= link_to t("views.buttons.edit"), edit_tuition_debits_path, class: "btn btn-default pull-right" %>
  <% else %>
    <%= link_to t("views.buttons.edit"), edit_tuition_debits_path, class: "btn btn-default pull-right disabled" %>
  <% end %>
</div>
