<%= render "breadcrumb" %>

<div class="tab-content">
  <br />
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-2"><%= t("activerecord.attributes.debit.bank_account_id") %></th>
          <th class="col-md-2"><%= t("activerecord.attributes.debit.amount") %></th>
          <th class="col-md-2"><%= t("activerecord.attributes.debit.status") %></th>
        </tr>
      </thead>
      <tbody>
        <% @debits.each do |debit| %>
          <tr>
            <td><%= debit.bank_account.holder_name %></td>
            <td><div class="pull-right"><%= number_to_currency(debit.amount) %></div></td>
            <td><%= debit.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @debits %>
  <%= back_link_to tuitions_path, pull: "left" %>
  <%= render "fix_button" %>
  <% if @tuition.model.debit_status == Tuition::DEBIT_STATUSES[:IN_PROCESS] %>
    <%= link_to t("views.buttons.edit"), edit_tuition_debits_path, class: "btn btn-default pull-right" %>
  <% else %>
    <%= link_to t("views.buttons.edit"), edit_tuition_debits_path, class: "btn btn-default pull-right disabled" %>
  <% end %>
</div>
