<%= form_tag({ action: "create_or_update" }, { method: "post", id: "form" }) do %>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="col-md-1"><%= t("activerecord.attributes.member.number") %></th>
          <th class="col-md-3" colspan="2"><%= t("activerecord.attributes.roll.member_id") %></th>
          <% if params[:action] == "index" %>
            <th class="col-md-1"><%= t("activerecord.attributes.roll.status") %></th>
          <% else %>
            <th class="col-md-2"><%= t("activerecord.attributes.roll.status") %></th>
          <% end %>
          <th class="col-md-1"><%= t("activerecord.attributes.roll.substitute_roll_id") %></th>
        </tr>
      </thead>
      <tbody>
        <% @rolls.each do |roll| %>
          <%= hidden_field_tag "rolls[][id]", roll.lesson_id if roll.persisted? %>
          <%= hidden_field_tag "rolls[][lesson_id]", roll.lesson.id %>
          <%= hidden_field_tag "rolls[][member_id]", roll.member_id %>
          <tr>
            <td><%= roll.member.number %></td>
            <td class="col-md-2"><%= roll.member.name_with_link %></td>
            <td class="col-md-1 text-center">
              <%= roll.member.bank_status %>
              <%= roll.member.imperfect %>
            </td>
            <td class="text-center">
              <% if params[:action] == "index" %>
                <%= roll.status %>
              <% else %>
                <%= render "status", object: roll.model  %>
              <% end %>
            </td>
            <td>
              <% substitute_roll = roll.substitute_roll %>
              <% if substitute_roll %>
                <% lesson = substitute_roll.lesson if substitute_roll %>
                <%= link_to lesson.date, lesson_rolls_path(lesson), class: "btn btn-link" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
