    <%= form_tag({ action: "create_or_update" }, { method: "post", id: "form" }) do %>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="col-md-1"><%= t("activerecord.attributes.member.number") %></th>
              <th class="col-md-3" colspan="2"><%= t("activerecord.attributes.roll.member_id") %></th>
              <%# if params[:action] == "index" %>
                <!-- <th class="col&#45;md&#45;1"><%= t("activerecord.attributes.roll.status") %></th> -->
              <%# else %>
                <th class="col-md-2"><%= t("activerecord.attributes.roll.status") %></th>
              <%# end %>
              <th class="col-md-3"><%= t("activerecord.attributes.roll.substitute_roll_id") %></th>
            </tr>
          </thead>
          <tbody id="rolls">
            <%= render @rolls %>
          </tbody>
        </table>
      </div>
    <% end %>
