<%= render "nav_tabs" %>

<div class="tab-content">
  <br />
  <%= render "breadcrumb" %>
  <%= form_tag({ action: "substitute" }, { method: "post", id: "form" }) do %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th><%= t("activerecord.attributes.member.id") %></th>
            <th><%= t("activerecord.attributes.member.name") %></th>
            <th><%= t("activerecord.attributes.lesson.date") %></th>
            <th><%= t("activerecord.models.school") %></th>
            <th><%= t("activerecord.models.studio") %></th>
            <th><%= t("activerecord.attributes.timetable.weekday") %></th>
            <th><%= t("activerecord.models.course") %></th>
          </tr>
        </thead>
        <tbody>
          <% @rolls.each do |roll| %>
            <tr>
              <td><div class="checkbox"><%= check_box_tag "rolls[][id]", roll.id %></div></td>
              <td><%= roll.member_id %></td>
              <td><%= display_member_name(roll.member) %></td>
              <td><%= roll.lesson.date %></td>
              <td><%= roll.lesson.course.timetable.studio.school.name %></td>
              <td><%= roll.lesson.course.timetable.studio.name %></td>
              <td><%= roll.lesson.course.timetable.weekday_ja %></td>
              <td><%= roll.lesson.course.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= button_tag t("views.buttons.select"), class: "btn btn-default pull-right", form: "form" %>
  <% end %>
</div>

