<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_lessons %>
      <%= list_item_to_lessons_of_month @lesson.date.strftime("%Y%m") %>
      <%= list_item_to_lessons_of_day @lesson.date %>
      <%= list_item_to_lesson @lesson %>
      <li class="active"><%= t("views.buttons.substitute") %></li>
    </ol>
  </div>
</div>
<%= render "shared/notice" %>
<div class="row">
  <div class="col-md-12">
    <%= form_tag absences_path(@lesson), method: :get, class: "form-inline" do %>
      <div class="form-group">
        <%= text_field_tag "number", params[:number], class: "form-control", placeholder: t("activerecord.attributes.member.number"), autofocus: true %>
      </div>
      <div class="form-group">
        <%= text_field_tag "last_name_kana", params[:last_name_kana], class: "form-control", placeholder: t("activerecord.attributes.member.last_name_kana")%>
      </div>
      <div class="form-group">
        <%= text_field_tag "first_name_kana", params[:first_name_kana], class: "form-control", placeholder: t("activerecord.attributes.member.first_name_kana")  %>
      </div>
      <%= button_to_search %>
    <% end %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-5">
    <%= form_tag({ action: "substitute" }, { method: "post", id: "form" }) do %>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="col-md-1">選択</th>
              <th class="col-md-1"><%= t("activerecord.attributes.member.number") %></th>
              <th class="col-md-2"><%= t("activerecord.attributes.member.name") %></th>
              <th class="col-md-1"><%= "欠席回数" %></th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td class="text-center"><%= radio_button_tag "member_id", member.id %></td>
                <td><%= member.number %></td>
                <td><%= member.name %></td>
                <td class="text-right"><%= link_to Roll.where(member_id: member.id).absences.count, member_rolls_path(member.id, status: 2) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <%= paginate @members if @members.any? %>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <%= button_to_back edit_lesson_rolls_path(@lesson), pull: "left" %>
    <%= button_tag t("views.buttons.select"), class: "btn btn-default pull-right", form: "form" %>
  </div>
</div>

