<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_lessons %>
      <%= list_item_to_lessons_of_month @lesson.date.strftime("%Y%m") %>
      <%= list_item_to_lessons_of_day @lesson.date %>
      <%= list_item_to_lesson @lesson %>
      <li class="active"><%= t("views.buttons.substitute") %></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= form_tag({ action: "substitute" }, { method: "post", id: "form" }) do %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th><%= t("activerecord.attributes.member.number") %></th>
              <th><%= t("activerecord.attributes.member.name") %></th>
              <th><%= t("activerecord.attributes.lesson.date") %></th>
              <th><%= t("activerecord.models.school") %></th>
              <th><%= t("activerecord.models.studio") %></th>
              <th><%= t("activerecord.attributes.timetable.weekday") %></th>
              <th><%= t("activerecord.models.course") %></th>
            </tr>
          </thead>
          <tbody>
            <% @rolls.each do |roll| %>
              <tr>
                <td><div class="checkbox"><%= check_box_tag "rolls[][id]", roll.id %></div></td>
                <td><%= roll.member.number %></td>
                <td><%= roll.member.name %></td>
                <td><%= roll.lesson.date %></td>
                <td><%= roll.lesson.course.timetable.studio.school.name %></td>
                <td><%= roll.lesson.course.timetable.studio.name %></td>
                <td><%= roll.lesson.course.timetable.weekday_ja %></td>
                <td><%= roll.lesson.course.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= button_to_back edit_lesson_rolls_path(@lesson), pull: "left" %>
      <%= button_tag t("views.buttons.select"), class: "btn btn-default pull-right", form: "form" %>
    <% end %>
  </div>
</div>

