<%= render "breadcrumb" %>
<%= link_to t("views.buttons.substitute"), absences_path(@lesson), class: "btn btn-default pull-right" %>
<%= link_to t("views.buttons.trial"), nonmembers_path(@lesson), class: "btn btn-default pull-right" %>
<div class="tab-content">
  <%= render "form" %>
  <%= save_button_tag pull: "right" %>
  <%# back_link_to lessons_path(date: @lesson.date.strftime("%Y%m%d")), pull: "left" %>
  <%= back_link_to lesson_rolls_path(@lesson), pull: "left" %>
</div>

