<%= render "breadcrumb" %>
<%= link_to t("views.buttons.substitute"), absences_path(@lesson), class: "btn btn-default pull-right" %>
<%= link_to t("views.buttons.trial"), nonmembers_path(@lesson), class: "btn btn-default pull-right" %>
<div class="tab-content">
  <%= render "form" %>
  <%= button_to_save pull: "right" %>
  <%= button_to_back lesson_rolls_path(@lesson), pull: "left" %>
</div>

