<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_lessons %>
      <%= list_item_to_lessons_of_month @lesson.date.strftime("%Y%m") %>
      <%= list_item_to_lessons_of_day @lesson.date %>
      <%= list_item_to_lesson @lesson %>
      <%= list_item_to_edit %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= button_to_absences absences_path(@lesson), pull: "right" %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-6">
    <%= render "form" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ul class="pager">
      <li class="previous">
        <%= link_to_prev_lesson @lesson.prev_lesson %>
      </li>
      <li class="next">
        <%= link_to_next_lesson @lesson.next_lesson %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= button_to_back lesson_rolls_path(@lesson), pull: "left" %>
    <%= button_to_save pull: "right" %>
  </div>
</div>
