<%= form_tag({ action: "update" }, { method: "put" }) do %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.lesson.date.") %></th>
          <th><%= t("activerecord.attributes.lesson.course_id.") %></th>
          <th><%= t("activerecord.attributes.roll.member_id") %></th>
          <th><%= t("activerecord.attributes.roll.status") %></th>
          <th><%= t("activerecord.attributes.roll.substitute_roll_id") %></th>
        </tr>
      </thead>
      <tbody>
        <% @rolls.each do |roll| %>
          <%= hidden_field_tag "rolls[][id]", roll.id %>
          <%= hidden_field_tag "rolls[][lesson_id]", roll.lesson_id %>
          <%= hidden_field_tag "rolls[][member_id]", roll.member_id %>
          <tr>
            <td><%= @lesson.date %></td>
            <td><%= @lesson.course.name %></td>
            <td><%= members_full_name(roll.member) %></td>
            <td>
              <%= hidden_field_tag "rolls[][status]", roll.status %>
              <% if roll.status == "0" || roll.status == "1" || roll.status == "2" %>
                <div class="btn-group" data-toggle="buttons">
                  <% %w(0 1 2).each do |status| %>
                    <label class="btn <%= roll.status == status ? status_button(status) : "btn-default" %> <%= "active" if roll.status == status %>">
                      <input type="radio" value="<%= status %>"><%= status_name(status) %>
                    </label>
                  <% end %>
                </div>
              <% else %>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn <%= status_button(roll.status) %> active" disabled>
                    <input type="radio" value="<%= roll.status %>"><%= status_name(roll.status) %>
                  </label>
                </div>
              <% end %>
            </td>
            <td>
              <% substitute_roll = roll.substitute_roll %>
              <% lesson = substitute_roll.try(:lesson) %>
              <%= link_to_if lesson, lesson.try(:date), lesson_rolls_path(lesson), class: "btn btn-link" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <%= link_to t("views.buttons.substitute"), edit_absence_rolls_path(@lesson), class: "btn btn-default pull-right" %>
  </div>
  <br />
  <div class="row">
    <%= link_to t("views.buttons.back"), lesson_rolls_path(@lesson), class: "btn btn-default pull-left" %>
    <%= submit_tag t("views.buttons.create"), class: "btn btn-default pull-right" %>
    <% if false %>
      <%= button_tag type: "submit", name: "lesson_status", value: "1", class: "btn btn-default pull-right" do %>
        <%= t("views.buttons.create") %>
      <% end %>
    <% end %>
  </div>
<% end %>
<script>
  $('div[data-toggle="buttons"] .btn').click(function() {
    var div = $(this).parent("div");
    var radio = $(this).children("input");
    var td = div.parent("td");
    var hidden = td.children("input");
    hidden.val(radio.attr("value"));
    $(this).parent("div").children("label").each(function() {
      $(this).removeClass("btn-default");
      $(this).removeClass("btn-success");
      $(this).removeClass("btn-danger");
      if (hidden.attr("value") == $(this).children("input").attr("value")) {
        if (hidden.attr("value") == "0") {
          $(this).addClass("btn-default");
        } else if (hidden.attr("value") == "1") {
          $(this).addClass("btn-success");
        } else {
          $(this).addClass("btn-danger");
        }
      } else {
        $(this).addClass("btn-default");
      }
    });
  });
</script>
