<%= render "breadcrumb" %>

<div class="tab-content">
  <br />
  <%= render "form" %>
  <%= render "lessons/fix_button" %>
  <%= edit_link_to edit_lesson_rolls_path(@lesson), pull: "right", disabled: @lesson.edit? == false %>
  <%= back_link_to lessons_path(date: @lesson.date.strftime("%Y%m%d")), pull: "left" %>
</div>

