<%= form_tag({ action: "update" }, { method: "put" }) do %>
  <fieldset disabled>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t("activerecord.attributes.lesson.date") %>
            <th><%= t("activerecord.attributes.lesson.course_id") %></th>
            <th><%= t("activerecord.attributes.roll.member_id") %></th>
            <th><%= t("activerecord.attributes.roll.status") %></th>
            <th><%= t("activerecord.attributes.roll.substitute_roll_id") %></th>
          </tr>
        </thead>
        <tbody>
          <% @rolls.each do |roll| %>
            <%= hidden_field_tag "rolls[][id]", roll.id %>
            <%= hidden_field_tag "rolls[][lesson_id]", roll.lesson_id %>
            <%= hidden_field_tag "rolls[][member_id]", roll.member_id %>
            <tr>
              <td><%= @lesson.date %></td>
              <td><%= @lesson.course.name %></td>
              <td><%= members_full_name(roll.member) %></td>
              <td>
                <%= hidden_field_tag "rolls[][status]", roll.status %>
                <div class="btn-group" data-toggle="buttons">
                  <% %w(0 1 2).each do |status| %>
                    <label class="btn <%= roll.status == status ? status_button(status) : "btn-default" %> <%= "active" if roll.status == status %>">
                      <input type="radio" value="<%= status %>"><%= status_name(status) %>
                    </label>
                  <% end %>
                </div>
              </td>
              <td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </fieldset>
  <div class="row">
    <%= link_to t("views.buttons.back"), lessons_path(date: @lesson.date.strftime("%Y%m%d")), class: "btn btn-default pull-left" %>
    <% if @lesson.date <= Date.today %>
      <%= link_to t("views.buttons.edit"), edit_lesson_rolls_path(@lesson), class: "btn btn-default pull-right" %>
    <% else %>
      <%= link_to t("views.buttons.edit"), edit_lesson_rolls_path(@lesson), class: "btn btn-default pull-right", disabled: "disabled" %>
    <% end %>
  </div>
  <br />
<% end %>
<div class="row">
  <a data-toggle="modal" href="#object_<%= @lesson.id %>" class="btn btn-default"><%= t("views.buttons.fix") %></a>
  <% if false %>
    <%= form_for @lesson do |f| %>
      <% @lesson.status = "2" %>
      <%= f.hidden_field :status %>
      <%= f.submit t("views.buttons.fix"), class: "btn btn-default pull-right" %>
    <% end %>
  <% end %>
</div>

<div class="modal fade" id="object_<%= @lesson.id %>">
        <%= form_for @lesson do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">確認</h4>
      </div>
      <div class="modal-body">
        確定してよいですか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉 じ る</button>
          <% @lesson.status = "2" %>
          <%= f.hidden_field :status %>
          <%= f.submit t("views.buttons.fix"), class: "btn btn-default" %>
      </div>
    </div>
  </div>
        <% end %>
</div>
