<%= render "breadcrumb" %>

<div class="tab-content">
  <br />
  <%= render "form" %>
  <%= render "lessons/fix_button" %>
  <%= button_to_edit edit_lesson_rolls_path(@lesson), pull: "right", edit: @lesson.edit? %>
  <%= button_to_back lessons_path(date: @lesson.date.strftime("%Y%m%d")), pull: "left" %>
</div>

