<%= form_tag({ action: "substitute" }, { method: "post" }) do %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th><%= t("activerecord.attributes.lesson.date") %>
          <th><%= t("activerecord.attributes.lesson.course_id") %></th>
          <th><%= t("activerecord.attributes.roll.member_id") %></th>
          <th><%= t("activerecord.attributes.roll.status") %></th>
          <th><%= t("activerecord.attributes.roll.substitute_roll_id") %></th>
        </tr>
      </thead>
      <tbody>
        <% @rolls.each do |roll| %>
          <tr>
            <td><%= check_box_tag "rolls[][id]", roll.id, false %></td>
            <td><%= roll.lesson.date %></td>
            <td><%= roll.lesson.course.name %></td>
            <td><%= members_full_name(roll.member) %></td>
            <td>
              <div class="btn-group" data-toggle="buttons">
                <% %w(0 1 2).each do |status| %>
                  <label class="btn <%= roll.status == status ? status_button(status) : "btn-default" %> <%= "active" if roll.status == status %> disabled">
                    <input type="radio" value="<%= status %>"><%= status_name(status) %>
                  </label>
                <% end %>
              </div>
            </td>
            <td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <%= link_to t("views.buttons.back"), edit_lesson_rolls_path(@lesson), class: "btn btn-default pull-left" %>
    <%= submit_tag t("views.buttons.select"), class: "btn btn-default pull-right" %>
  </div>
<% end %>
