<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_lessons %>
      <%= list_item_to_lessons_of_month @lesson.date.strftime("%Y%m") %>
      <%= list_item_to_lessons_of_day @lesson.date %>
      <%= list_item_to_lesson @lesson, active: true %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render "shared/notice" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render "cancel_button", lesson: @lesson %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render "form" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="pager">
      <li class="previous">
        <%= link_to_prev_lesson @lesson.prev_lesson %>
      </li>
      <li class="next">
        <%= link_to_next_lesson @lesson.next_lesson %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <%= button_to_back lessons_path(date: @lesson.date.strftime("%Y%m%d")), pull: "left" %>
  </div>
  <div class="col-md-2">
    <%= button_to_edit edit_lesson_rolls_path(@lesson), pull: "right", edit: @lesson.edit? %>
  </div>
  <div class="col-md-2">
    <%= button_to_fix @lesson %>
    <% if @lesson.fix? %>
      <%= render "shared/modal_to_fix", id: "lesson", path: fix_lesson_path(@lesson) %>
    <% end %>
  </div>
</div>
