<% breadcrumb :lesson, @lesson %>
<div class="row">
  <div class="col-md-12">
    <%= render "shared/notice" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render "cancel_button", lesson: @lesson %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-6">
    <%= render "form" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ul class="pager">
      <li class="previous">
        <%= link_to_prev_lesson @lesson.prev_lesson %>
      </li>
      <li class="next">
        <%= link_to_next_lesson @lesson.next_lesson %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= button_to_back lessons_path(date: @lesson.date.strftime("%Y%m%d")), pull: "left" %>
    <% if current_user.manager? && @lesson.fixed? %>
      <%= render "shared/unfix_button", path: unfix_lesson_path(@lesson), object: @lesson %>
    <% else %>
      <%= render "shared/fix_button", path: fix_lesson_path(@lesson), object: @lesson %>
    <% end %>
    <%= button_to_edit edit_lesson_rolls_path(@lesson), pull: "right", edit: @lesson.editable? %>
  </div>
</div>
