<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.lesson.date") %>
        <th><%= t("activerecord.attributes.lesson.course_id") %></th>
        <th><%= t("activerecord.attributes.roll.member_id") %></th>
        <th><%= t("activerecord.attributes.roll.status") %></th>
        <th><%= t("activerecord.attributes.roll.substitute_roll_id") %></th>
      </tr>
    </thead>
    <tbody>
      <% @rolls.each do |roll| %>
        <tr>
          <td><%= roll.lesson.date %></td>
          <td><%= roll.lesson.course.name %></td>
          <td><%= members_full_name(roll.member) %></td>
          <td>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn <%= status_button(roll.status) %> active disabled">
                <input type="radio" value="<%= roll.status %>"><%= status_name(roll.status) %>
              </label>
            </div>
          </td>
          <td>
            <% substitute_roll = roll.substitute_roll %>
            <% lesson = substitute_roll.try(:lesson) %>
            <%= link_to_if lesson, lesson.try(:date), lesson_rolls_path(lesson), class: "btn btn-link" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <%= link_to t("views.buttons.back"), member_members_courses_path(@member), class: "btn btn-default pull-left" %>
</div>

