<ol class="breadcrumb">
  <li><%= link_to t("activerecord.models.tuition"), receipts_path %></li>
  <% if current_page?(tuition_receipts_path(@tuition)) %>
    <li class="active"><%= @tuition.month_ja %></li>
  <% end %>
  <% if current_page?(new_tuition_receipts_path(@tuition)) %>
    <li><%= link_to @tuition.month_ja, tuition_receipts_path(@tuition) %></li>
    <li class="active"><%= t("views.buttons.new") %></li>
  <% end %>
  <% if current_page?(tuition_receipt_path(@tuition, @receipt)) %>
    <li><%= link_to @tuition.month_ja, tuition_receipts_path(@tuition) %></li>
    <li class="active"><%= @receipt.member.full_name %></li>
  <% end %>
  <% if current_page?(edit_tuition_receipt_path(@tuition, @receipt)) %>
    <li><%= link_to @tuition.month_ja, tuition_receipts_path(@tuition) %></li>
    <li><%= link_to @receipt.member.full_name, tuition_receipt_path(@tuition, @receipt) %></li>
    <li class="active"><%= t("views.buttons.edit") %></li>
  <% end %>
</ol>
