<%= form_for([@tuition, @receipt], html: { role: "form", class: "form-horizontal", id: "form" }) do |f| %>

  <%= render "shared/errors", object: @receipt %>

  <%= "<fieldset disabled>".html_safe if current_page?(tuition_receipt_path(@tuition, @receipt)) %>

  <div class="form-group <%= 'has-error' if @receipt.errors[:member_id].present? %>">
    <%= f.label t("activerecord.attributes.receipt.member_id"), class: "col-md-1 control-label" %>
    <div class="col-md-3">
      <%= f.hidden_field :member_id %>
      <%= text_field_tag nil, @receipt.member.full_name, class: "form-control", disabled: "disabled" %>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @receipt.errors[:amount].present? %>">
    <%= f.label t("activerecord.attributes.receipt.amount"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.number_field :amount, class: "form-control" %>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @receipt.errors[:status].present? %>">
    <%= f.label t("activerecord.attributes.receipt.status"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.select :status, [["未", Receipt::STATUSES[:UNPAID]], ["済", Receipt::STATUSES[:PAID]]], {}, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @receipt.errors[:date].present? %>">
    <%= f.label t("activerecord.attributes.receipt.date"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.date_field :date, class: "form-control" %>
    </div>
  </div>

  <%= f.hidden_field :method %>
  <% if false %>
  <div class="form-group <%= 'has-error' if @receipt.errors[:method].present? %>">
    <%= f.label t("activerecord.attributes.receipt.method"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.select :method, [["振替", Receipt::METHODS[:DEBIT]], ["現金", Receipt::METHODS[:CASH]]], {}, { class: "form-control", disabled: "disabled" } %>
    </div>
    <%= f.hidden_field :debit_id %>
    <% if @receipt.method == Receipt::METHODS[:DEBIT] %>
      <div class="col-md-1">
        <%# link_to t("views.buttons.show"), debit_path(@debit), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
  <% end %>

  <div class="form-group <%= 'has-error' if @receipt.errors[:note].present? %>">
    <%= f.label :note, class: "col-md-1 control-label" %>
    <div class="col-md-5">
      <%= f.text_area :note, class: "form-control" %>
    </div>
  </div>

  <%= "</fieldset>".html_safe if current_page?(tuition_receipt_path(@tuition, @receipt)) %>

<% end %>
