<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_tuitions(payment_method: "CASH") %>
      <%= list_item_to_debits(@tuition, active: true) %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= button_to_new new_tuition_receipts_path(@tuition), pull: "right" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t("activerecord.attributes.member.number") %></th>
            <th><%= t("activerecord.attributes.member.name") %></th>
            <th><%= t("activerecord.attributes.receipt.status") %></th>
            <th><%= t("activerecord.attributes.receipt.method") %></th>
            <th><%= t("activerecord.attributes.receipt.amount") %></th>
            <th><%= t("activerecord.attributes.receipt.date") %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @receipts.each do |receipt| %>
            <tr>
              <td><%= receipt.member.number %></td>
              <td><%= receipt.member.name %></td>
              <td><%= receipt.status %></td>
              <td><%= receipt.method %></td>
              <td><div class="pull-right"><%= number_to_currency(receipt.amount) %></div></td>
              <td><%= receipt.date %></td>
              <td>
                <%= link_to_show tuition_receipt_path(@tuition, receipt) %>
                <%= link_to_edit edit_tuition_receipt_path(@tuition, receipt), edit: receipt.edit? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @receipts %>
  </div>
</div>
