<%= render "breadcrumb" %>

<div class="tab-content">
  <br />
  <%= render "shared/notice" %>
  <%= render "form" %>
  <%= back_link_to tuition_receipts_path(@tuition), pull: "left" %>
  <%= edit_link_to edit_tuition_receipt_path(@tuition, @receipt), pull: "right", disabled: @receipt.edit? == false %>
</div>
