<%= render "nav_tabs" %>

<div class="tab-content">
  <br />
  <%= render "breadcrumb" %>
  <%= render "shared/notice" %>
  <%= render "form" %>
  <%= link_to t("views.buttons.back"), tuition_receipts_path(@tuition), class: "btn btn-default pull-left" %>
  <%= link_to t("views.buttons.edit"), edit_tuition_receipt_path(@tuition, @receipt), class: "btn btn-default pull-right" %>
</div>
