<%= render "breadcrumb" %>

<div class="tab-content">
  <br />
  <%= render "shared/notice" %>
  <%= render "form" %>
  <%= button_to_back tuition_receipts_path(@tuition), pull: "left" %>
  <%= button_to_edit edit_tuition_receipt_path(@tuition, @receipt), pull: "right", edit: @receipt.edit? %>
</div>
