<%= form_for(@studio, { roll: "form" }) do |f| %>
  <%= render "shared/errors", object: @studio %>
  <div class="form-group <%= 'has_error' if @studio.errors[:school_id].present? %>">
    <%= f.label :school_id, class: "control-label" %><br />
    <%= f.collection_select :school_id, School.all, :id, :name, { prompt: "" }, { class: "form-control" } %>
  </div>
  <div class="form-group <%= 'has_error' if @studio.errors[:name].present? %>">
    <%= f.label :name, class: "control-label" %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group <%= 'has_error' if @studio.errors[:open_date].present? %>">
    <%= f.label :open_date, class: "control-label"  %><br />
    <%= f.text_field :open_date, class: "form-control", "data-behaviour" => "datepicker" %>
  </div>
  <div class="form-group <%= 'has_error' if @studio.errors[:close_date].present? %>">
    <%= f.label :close_date, class: "control-label"  %><br />
    <%= f.text_field :close_date, class: "form-control", "data-behaviour" => "datepicker" %>
  </div>
  <div class="form-group <%= 'has_error' if @studio.errors[:note].present? %>">
    <%= f.label :note, class: "control-label"  %><br />
    <%= f.text_area :note, class: "form-control" %>
  </div>
  <%= f.submit t("views.buttons.create"), class: "btn btn-default pull-right" %>
<% end %>
