<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.studio.school_id") %></th>
        <th><%= t("activerecord.attributes.studio.name") %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @studios.each do |studio| %>
        <tr>
          <td><%= studio.school.name %></td>
          <td><%= studio.name %></td>
          <td><%= link_to t("views.buttons.show"), studio, class: "btn btn-default" %></td>
          <td><%= link_to t("views.buttons.edit"), edit_studio_path(studio), class: "btn btn-default" %></td>
          <td><%= render "shared/delete_link", object: studio %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to t("views.buttons.new"), new_studio_path, class: "btn btn-default" %>
