<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to t("views.title"), root_path, class: "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <% if false %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">SCHOOL <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "SCHOOLS", schools_path %></li>
          <li><%= link_to "STUDIOS", studios_path %></li>
          <li><%= link_to "INSTRUCTORS", instructors_path %></li>
        </ul>
      </li>
      <% end %>
      <li><%= link_to t("activerecord.models.school"), schools_path %></li>
      <li><%= link_to "STUDIOS", studios_path %></li>
      <li><%= link_to "INSTRUCTORS", instructors_path %></li>
      <li><%= link_to "COURSES", courses_path %></li>
      <li><%= link_to "MEMBERS", members_path %></li>
      <li><%= link_to "LESSON", "#" %></li>
    </ul>
  </div>
</nav>
