<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to t("views.title"), root_path, class: "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to t("activerecord.models.course"), courses_path %></li>
      <li><%= link_to t("activerecord.models.instructor"), instructors_path %></li>
      <li><%= link_to t("activerecord.models.member"), members_path %></li>
      <li><%= link_to t("activerecord.models.lesson"), lessons_path %></li>
      <li><%= link_to t("activerecord.models.bank_account"), bank_accounts_path %></li>
      <li><%= link_to t("activerecord.models.tuition"), tuitions_path %></li>
      <% if false %>
      <li><%= link_to t("activerecord.models.task.monthly_fee"), tasks_debits_path %></li>
      <li><%= link_to t("activerecord.models.debit"), tasks_debits_path %></li>
      <li><%= link_to t("activerecord.models.receipt"), receipts_path %></li>
        <li><%= link_to t("activerecord.models.school"), schools_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
