<div class="row">
  <div class="col-md-12">
    <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">-->
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to t("views.title"), root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown <%= 'active' if controller?(["courses", "instructors"]) %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t("activerecord.models.school") %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <%= list_item_to_schools %>
              <%= list_item_to_instructors %>
            </ul>
          </li>
          <li class="<%= 'active' if controller?(["lessons", "rolls"]) %>"><%= link_to_lessons %></li>
          <li class="dropdown <%= 'active' if controller?(["members", "members_courses", "recesses", "bank_accounts"]) %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t("activerecord.models.member") %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to_members %></li>
              <%= list_item_to_bank_accounts %>
            </ul>
          </li>
          <li class="dropdown <%= 'active' if controller?(["tuitions", "debits", "receipts"]) %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t("activerecord.models.tuition") %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("activerecord.models.debit"), tuitions_path(payment_method: "DEBIT") %></li>
              <li><%= link_to t("activerecord.models.receipt"), tuitions_path(payment_method: "CASH") %></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user.admin? %>
            <li class="dropdown <%= 'active' if controller?(["users", "access_logs"]) %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                管理 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= users_link %></li>
                <li><%= link_to t("activerecord.models.access_log"), access_logs_path %></li>
                <li><%= link_to "データ量", "/statistics/data" %></li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.try(:name) %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to edit_user_registration_path do %>Eメール・パスワード変更<% end %></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %>ログアウト<% end %></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
