<!DOCTYPE html>
<html>
  <head>
    <title>ROLLBOOK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <% if user_signed_in? %>
        <%= render "layouts/navbar" %>
        <%= render "layouts/nav" %>
      <% end %>
      <%= yield %>
      <% if Rails.env.development? %>
        <div class="row">
          <div class="col-md-12">
            <%= debug(params) %>
          </div>
        </div>
      <% end %>
    </div>
    <script>
      $("[data-toggle~='tooltip']").tooltip()
      $("[data-toggle~='modal']").tooltip()
    </script>
  </body>
</html>
