<!DOCTYPE html>
<html>
  <head>
    <title>ROLLBOOK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <% if user_signed_in? %>
        <%= render "layouts/header" %>
      <% end %>
      <%= yield %>
      <%= tag(:br) if Rails.env.development? %>
      <%= tag(:br) if Rails.env.development? %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <script>
      $("[data-toggle~='tooltip']").tooltip()
      $("[data-toggle~='modal']").tooltip()
    </script>
  </body>
</html>
