<%= form_for(@member, html: { role: "form", class: "form-horizontal", id: "form" }) do |f| %>

  <%= render "shared/errors", object: @member %>

  <%= "<fieldset disabled>".html_safe if current_page?(member_path(@member)) %>

  <div class="form-group">
    <%= f.label t("activerecord.attributes.member.number"), class: "col-md-1 control-label" %>
    <%# f.label "会員番号", class: "col-md-1 control-label" %>
    <div class="col-md-3 <%= 'has-error' if @member.errors[:number].present? %>">
      <%= f.text_field :number, class: "form-control", maxlength: 6  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label t("activerecord.attributes.member.name"), class: "col-md-1 control-label" %>
    <div class="col-md-3 <%= 'has-error' if @member.errors[:last_name_kana].present? %>">
      <%= f.text_field :last_name_kana, class: "form-control", "placeholder" => t("activerecord.attributes.member.last_name_kana") %>
    </div>
    <div class="col-md-3 <%= 'has-error' if @member.errors[:first_name_kana].present? %>">
      <%= f.text_field :first_name_kana, class: "form-control", "placeholder" => t("activerecord.attributes.member.first_name_kana") %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 col-md-offset-1 <%= 'has-error' if @member.errors[:last_name].present? %>">
      <%= f.text_field :last_name, class: "form-control", "placeholder" => t("activerecord.attributes.member.last_name") %>
    </div>
    <div class="col-md-3 <%= 'has-error' if @member.errors[:first_name].present? %>">
      <%= f.text_field :first_name, class: "form-control", "placeholder" => t("activerecord.attributes.member.first_name") %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:gender].present? %>">
    <%= f.label t("activerecord.attributes.member.gender"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.select :gender, [["女", "F"], ["男", "M"]], {}, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:birth_date].present? %>">
    <%= f.label t("activerecord.attributes.member.birth_date"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%# f.text_field :birth_date, class: "form-control", "data-behaviour" => "datepicker" %>
      <%= f.date_field :birth_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:zip].present? %>">
    <%= f.label t("activerecord.attributes.member.address"), class: "col-md-1 control-label" %>
    <div class="col-md-2 <%= 'has-error' if @member.errors[:zip].present? %>">
      <%= f.text_field :zip, class: "form-control", "placeholder" => t("activerecord.attributes.member.zip") %>
    </div>
    <div class="col-md-8 <%= 'has-error' if @member.errors[:address].present? %>">
      <%= f.text_field :address, class: "form-control", "placeholder" => t("activerecord.attributes.member.address") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t("activerecord.attributes.member.phone"), class: "col-md-1 control-label" %>
    <div class="col-md-3 <%= 'has-error' if @member.errors[:phone_mobile].present? %>">
      <%= f.phone_field :phone_mobile, class: "form-control", "placeholder" => t("activerecord.attributes.member.phone_mobile") %>
    </div>
    <div class="col-md-3 <%= 'has-error' if @member.errors[:phone_land].present? %>">
      <%= f.phone_field :phone_land, class: "form-control", "placeholder" => t("activerecord.attributes.member.phone_land") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t("activerecord.attributes.member.email"), class: "col-md-1 control-label" %>
    <div class="col-md-5 <%= 'has-error' if @member.errors[:email_mobile].present? %>">
      <%= f.email_field :email_mobile, class: "form-control", "placeholder" => t("activerecord.attributes.member.email_mobile") %>
    </div>
    <div class="col-md-5 <%= 'has-error' if @member.errors[:email_pc].present? %>">
      <%= f.email_field :email_pc, class: "form-control", "placeholder" => t("activerecord.attributes.member.email_pc") %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:nearby_station].present? %>">
    <%= f.label t("activerecord.attributes.member.nearby_station"), class: "col-md-1 control-label" %>
    <div class="col-md-5">
      <%= f.text_field :nearby_station, class: "form-control", "placeholder" => t("activerecord.attributes.member.nearby_station") %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:enter_date].present? %>">
    <%= f.label t("activerecord.attributes.member.enter_date"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.date_field :enter_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:leave_date].present? %>">
    <%= f.label t("activerecord.attributes.member.leave_date"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.date_field :leave_date, class: "form-control", min: @member.enter_date %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:status].present? %>">
    <%= f.label t("activerecord.attributes.member.status"), class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.select :status, [["未入会", "0"], ["入会", "1"], ["2", "退会"]], {}, { class: "form-control" } %>
    </div>
  </div>

  <%= "</fieldset>".html_safe if current_page?(member_path(@member)) %>

  <div class="form-group">
    <%= f.label :bank_account_id, class: "col-md-1 control-label" %>
    <div class="col-md-3">
      <%= f.collection_select :bank_account_id, BankAccount.all, :id, :holder_name_kana, { prompt: "" }, { class: "form-control", disabled: "disabled" } %>
    </div>
    <% if current_page?(member_path(@member)) %>
      <div class="col-md-1">
        <% if @member.bank_account.nil? %>
          <%= link_to t("views.buttons.new"), new_bank_account_path(member_id: @member.id), class: "btn btn-default" %>
        <% else %>
          <%= link_to t("views.buttons.show"), bank_account_path(@member.bank_account_id), class: "btn btn-default" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= "<fieldset disabled>".html_safe if current_page?(member_path(@member)) %>

  <div class="form-group <%= 'has-error' if @member.errors[:note].present? %>">
    <%= f.label :note, class: "col-md-1 control-label" %>
    <div class="col-md-5">
      <%= f.text_area :note, class: "form-control" %>
    </div>
  </div>

  <%= "</fieldset>".html_safe if current_page?(member_path(@member)) %>

<% end %>
