<%= form_for(@member, html: { role: "form", class: "form-horizontal" }) do |f| %>
  <%= render "shared/errors", object: @member %>
  <div class="form-group <%= 'has-error' if @member.errors[:last_name_kana].present? %>">
    <%= f.label t("activerecord.attributes.member.name"), class: "col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.text_field :last_name_kana, class: "form-control", "placeholder" => t("activerecord.attributes.member.last_name_kana") %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:first_name_kana].present? %>">
    <div class="col-md-5 col-md-offset-2">
      <%= f.text_field :first_name_kana, class: "form-control", "placeholder" => t("activerecord.attributes.member.first_name_kana") %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:last_name].present? %>">
    <div class="col-md-5 col-md-offset-2">
      <%= f.text_field :last_name, class: "form-control", "placeholder" => t("activerecord.attributes.member.last_name") %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:first_name].present? %>">
    <div class="col-md-5 col-md-offset-2">
      <%= f.text_field :first_name, class: "form-control", "placeholder" => t("activerecord.attributes.member.first_name") %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:gender].present? %>">
    <%= f.label t("activerecord.attributes.member.gender"), class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.select :gender, [["女", "F"], ["男", "M"]], {}, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:birth_date].present? %>">
    <%= f.label t("activerecord.attributes.member.birth_date"), class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :birth_date, class: "form-control", "data-behaviour" => "datepicker" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:zip].present? %>">
    <%= f.label t("activerecord.attributes.member.address"), class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :zip, class: "form-control", "placeholder" => t("activerecord.attributes.member.zip") %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:address].present? %>">
    <div class="col-md-7 col-md-offset-2">
      <%= f.text_field :address, class: "form-control", "placeholder" => t("activerecord.attributes.member.address") %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:phone].present? %>">
    <%= f.label t("activerecord.attributes.member.phone"), class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.phone_field :phone, class: "form-control" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:email_pc].present? %>">
    <%= f.label t("activerecord.attributes.member.email"), class: "col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.email_field :email_pc, class: "form-control", "placeholder" => t("activerecord.attributes.member.email_pc") %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:email_mobile].present? %>">
    <div class="col-md-5 col-md-offset-2">
      <%= f.email_field :email_mobile, class: "form-control", "placeholder" => t("activerecord.attributes.member.email_mobile") %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:nearby_station].present? %>">
    <%= f.label t("activerecord.attributes.member.nearby_station"), class: "col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.text_field :nearby_station, class: "form-control", "placeholder" => t("activerecord.attributes.member.nearby_station") %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:enter_date].present? %>">
    <%= f.label t("activerecord.attributes.member.enter_date"), class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :enter_date, class: "form-control", "data-behaviour" => "datepicker" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:leave_date].present? %>">
    <%= f.label t("activerecord.attributes.member.leave_date"), class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :leave_date, class: "form-control", "data-behaviour" => "datepicker" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:status].present? %>">
    <%= f.label t("activerecord.attributes.member.status"), class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :status, class: "form-control" %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @member.errors[:note].present? %>">
    <%= f.label :note, class: "col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.text_area :note, class: "form-control" %>
    </div>
  </div>
  <% if false %>
    <div>
      <%= f.label :bank_account_id %><br>
      <%= f.number_field :bank_account_id %>
    </div>
  <% end %>
  <%= f.submit t("views.buttons.create"), class: "btn btn-default pull-right" %>
<% end %>
