<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
    </ul>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#member" data-toggle="tab"><%= t("activerecord.models.member") %></a>
  </li>
  <% if current_page?(member_path(@member)) %>
    <li>
      <%= member_courses_link(@member) %>
    </li>
    <li>
      <%= member_rolls_link(@member) %>
    </li>
    <li>
      <%= recesses_link(@member) %>
    </li>
    <li>
      <%= member_receipts_link(@member) %>
    </li>
  <% end %>
  <% if current_page?(edit_member_path(@member)) %>
    <li class="disabled">
      <%= member_courses_link(@member, disabled: true) %>
    </li>
    <li class="disabled">
      <%= member_rolls_link(@member, disabled: true) %>
    </li>
    <li class="disabled">
      <%= recesses_link(@member, disabled: true) %>
    </li>
    <li class="disabled">
      <%= member_receipts_link(@member, disabled: true) %>
    </li>
  <% end %>
</ul>

