<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <%= list_item_to_members(active: true) %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= search_form_for @q, html: { class: "form-inline" } do |f| %>
      <div class="form-group">
        <%= f.text_field :number_start, class: "form-control", placeholder: t("activerecord.attributes.member.number"), autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.text_field :last_name_kana_start, class: "form-control", placeholder: t("activerecord.attributes.member.last_name_kana") %>
      </div>
      <div class="form-group">
        <%= f.text_field :first_name_kana_start, class: "form-control", placeholder: t("activerecord.attributes.member.first_name_kana") %>
      </div>
      <div class="form-group">
        <%= f.select :status_eq, options_of_member_status, { include_blank: true, }, { class: "form-control", placeholder: t("activerecord.attributes.member.status") } %>
      </div>
      <%= f.button class: "btn btn-success" do %>
        <%= fa_icon("search lg", text: t("views.buttons.search")) %>
      <% end %>
      <%= button_to_new new_member_path, pull: "right" %>
    <% end %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-1"><%= t("activerecord.attributes.member.number") %></th>
            <th class="col-md-2"><%= t("activerecord.attributes.member.name") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.member.age") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.member.gender") %></th>
            <th class="col-md-1"><%= t("activerecord.attributes.member.status") %></th>
            <th class="col-md-1"></th>
            <th class="col-md-1"><%= t("activerecord.models.members_course") %></th>
            <th class="col-md-1">未消化振替</th>
            <th class="col-md-2"></th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td><%= member.number %></td>
              <td><%= member.name %></td>
              <td><%= member.age %></td>
              <td><%= member.gender %></td>
              <td><%= member.status %></td>
              <td><%= member.imperfect %></td>
              <td><%= "#{member.members_courses.active.count} クラス" %></td>
              <td><div class="pull-right"><%= "#{member.rolls.absences.count}回" if member.rolls.absences.count > 0 %></div></td>
              <td>
                <%= link_to_show member_path(member) %>
                <%= link_to_edit edit_member_path(member) %>
                <%= link_to_destroy member.id, member_path(member), destroy: member.destroy? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @members %>
    </div>
</div>
</div>
