<%= render "nav_tabs" %>

<div class="tab-content">
  <br />
  <%= render "breadcrumb" %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.member.id") %></th>
          <th><%= t("activerecord.attributes.member.name") %></th>
          <th><%= t("activerecord.attributes.member.gender") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td><%= member.id %></td>
            <td><%= display_member_name(member) %></td>
            <td><%= display_gender(member.gender) %></td>
            <td>
              <%= link_to t("views.buttons.show"), member, class: "btn btn-default" %>
              <%= link_to t("views.buttons.edit"), edit_member_path(member), class: "btn btn-default" %>
              <%= render "shared/delete_button", object: member %>
            </td>
            <% if false %>
            <td>
              <%= link_to member_path(member), class: "btn", data: { toggle: "tooltip", "original-title" => "見る" } do %>
                <%= show_icon %>
              <% end %>
              <%= link_to edit_member_path(member), class: "btn",  data: { toggle: "tooltip", "original-title" => "変更する" } do %>
                <%= edit_icon %>
              <% end %>
              <%= render "shared/delete_link", object: member %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @members %>
  </div>
  <br />

  <%= link_to t("views.buttons.new"), new_member_path, class: "btn btn-default" %>
  <script>
    $("[data-toggle~='tooltip']").tooltip();
    $("[data-toggle~='modal']").tooltip();
  </script>

</div>
