<% breadcrumb :members %>
<div class="row">
  <div class="col-md-10">
    <%= search_form_for @q, html: { class: "form-inline" } do |f| %>
      <div class="form-group">
        <%= f.text_field :number_start, class: "form-control", placeholder: t("activerecord.attributes.member.number"), autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.text_field :last_name_kana_start, class: "form-control", placeholder: t("activerecord.attributes.member.last_name_kana") %>
      </div>
      <div class="form-group">
        <%= f.text_field :first_name_kana_start, class: "form-control", placeholder: t("activerecord.attributes.member.first_name_kana") %>
      </div>
      <div class="form-group">
        <%= f.select :status_eq, options_of_member_status, { include_blank: true, }, { class: "form-control", placeholder: t("activerecord.attributes.member.status") } %>
      </div>
      <%= f.button class: "btn btn-success" do %>
        <%= fa_icon("search lg", text: t("views.buttons.search")) %>
      <% end %>
      <%= button_to_new new_member_path, pull: "right" %>
    <% end %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-10">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-md-1"><%= t("activerecord.attributes.member.number") %></th>
            <th class="col-md-2"><%= t("activerecord.attributes.member.name") %></th>
            <th class="col-md-2"><%= t("activerecord.attributes.bank_account.holder_name") %></th>
            <th class="col-md-1"></th>
            <th class="col-md-1"><%= t("activerecord.attributes.member.status") %></th>
            <th class="col-md-1"><%= t("activerecord.models.members_course") %></th>
            <th class="col-md-1">未消化振替</th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td class="text-center"><%= member.number %></td>
              <td>
                <%= link_to member_path(member) do %>
                  <%= member.name_and_kana %>
                <% end %>
              </td>
              <td><%= link_to(member.bank_account.holder_name_kana, bank_account_path(member.bank_account)) if member.bank_account.present?  %></td>
              <td class="text-center"><%= member.bank_status %></td>
              <td class="text-center"><%= member.status %></td>
              <td class="text-center">
                <% if member.members_courses.active.count > 0 %>
                  <%= link_to member_members_courses_path(member, status: '1') do %>
                    <%= "#{member.members_courses.active.count} クラス" %>
                  <% end %>
                <% end %>
              </td>
              <td class="text-center">
                <% if member.rolls.absences.count > 0 %>
                  <%= link_to member_rolls_path(member.id, status: '2') do %>
                    <%= "#{member.rolls.absences.count} 回" %>
                  <% end %>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to_show member_path(member) %>
                <%= link_to_edit edit_member_path(member) %>
                <%= link_to_destroy member.id, member_path(member), destroy: member.destroy? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @members %>
    </div>
</div>
</div>
