<ul class="nav nav-tabs">
  <li>
    <%= link_to t("activerecord.models.member"), member_path(@member), class: "btn btn-link" %>
  </li>
  <li>
    <%= link_to t("activerecord.models.members_course"), member_courses_path(@member), class: "btn btn-link" %>
  </li>
  <li>
    <%= link_to t("activerecord.models.lesson"), member_rolls_path(@member), class: "btn btn-link" %>
  </li>
  <li>
    <%= link_to t("activerecord.models.recess"), member_course_recesses_path(@member, @members_course), class: "btn btn-link", disabled: "disabled" %>
  </li>
</ul>

<div class="tab-content">
  <br />
  <%# render "breadcrumb" %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.tuition.month") %></th>
          <th><%= t("activerecord.attributes.receipt.amount") %></th>
          <th><%= t("activerecord.attributes.receipt.status") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @receipts.each do |receipt| %>
          <tr>
            <td><%= receipt.tuition.month %></td>
            <td><div class="pull-right"><%= number_to_currency(receipt.amount) %></div></td>
            <td><%= receipt.status %></td>
            <td><%= show_icon_link_to(tuition_receipt_path(receipt.tuition, receipt)) %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>

