<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>First name kana:</strong>
  <%= @member.first_name_kana %>
</p>

<p>
  <strong>Last name kana:</strong>
  <%= @member.last_name_kana %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @member.birth_date %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @member.zip %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Email pc:</strong>
  <%= @member.email_pc %>
</p>

<p>
  <strong>Email mobile:</strong>
  <%= @member.email_mobile %>
</p>

<p>
  <strong>Note:</strong>
  <%= @member.note %>
</p>

<p>
  <strong>Enter date:</strong>
  <%= @member.enter_date %>
</p>

<p>
  <strong>Leave date:</strong>
  <%= @member.leave_date %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @member.bank_account_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @member.status %>
</p>

<p>
  <strong>Nearby station:</strong>
  <%= @member.nearby_station %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
